<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/bookstore/public/xhh-admin/css/font.css">
    <link rel="stylesheet" href="/bookstore/public/xhh-admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/bookstore/public/xhh-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/bookstore/public/xhh-admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .layui-form-item .layui-input-inline{
        width: 300px;
      }
      .layui-input-inline textarea{
        height: 100px;
      }
    </style>
  </head>
  
  <body>
    <div class="x-body layui-anim layui-anim-up" style="position: relative;">
        <form class="layui-form" id="edit-form">
          <div class="layui-form-item" style="display: none;">
              <label for="L_customerId" class="layui-form-label">
                  <span class="x-red">*</span>ID
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_bookId" name="bookId" required="" readonly="readonly"
                  autocomplete="off" class="layui-input" value="{$info['bookId']}">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>书名ID（不可修改）
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_title" class="layui-form-label">
                  <span class="x-red">*</span>书名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_title" name="title"
                  autocomplete="off" class="layui-input" value="{$info['title']}">
              </div>              
          </div>
          <div class="layui-form-item">
              <label for="L_title" class="layui-form-label">
                  <span class="x-red">*</span>类别
              </label>
              <div class="layui-input-inline">
                <select id="L_cateName" name="categoryId">
                  {volist name="catelist" id="vo"}
                  <option value="{$vo.categoryId}">{$vo.cateName}</option>                               
                  {/volist}
                </select>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_isbn" class="layui-form-label">
                  <span class="x-red">*</span>ISBN
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_isbn" name="isbn" readonly
                  autocomplete="off" class="layui-input" value="{$info['isbn']}">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>不可修改
              </div>            
          </div>
          <div class="layui-form-item">
              <label for="L_author" class="layui-form-label">
                  <span class="x-red">*</span>作者
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_author" name="author" autocomplete="off" class="layui-input" value="{$info['author']}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_description" class="layui-form-label">
                  <span class="x-red">*</span>书籍描述
              </label>
              <div class="layui-input-inline">
                  <textarea type="text" id="L_description" name="description" 
                  autocomplete="off" class="layui-input">{$info['description']}</textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_paddress" class="layui-form-label">
                  <span class="x-red">*</span>出版社
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_paddress" name="paddress" 
                  autocomplete="off" class="layui-input" value="{$info['paddress']}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_soldNum" class="layui-form-label">
                  <span class="x-red">*</span>销售量
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_soldNum" name="soldNum" 
                  autocomplete="off" class="layui-input" value="{$info['soldNum']}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_stockNum" class="layui-form-label">
                  <span class="x-red">*</span>库存
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_stockNum" name="stockNum" 
                  autocomplete="off" class="layui-input" value="{$info['stockNum']}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_price" class="layui-form-label">
                  <span class="x-red">*</span>金额
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_price" name="price"  
                  autocomplete="off" class="layui-input" value="{$info['price']}">
              </div>
          </div>          
          <div class="layui-form-item">
              <label for="L_press" class="layui-form-label">
                  <span class="x-red">*</span>图片地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_press" name="press"  
                  autocomplete="off" class="layui-input" value="{$info['press']}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="save" lay-submit="">
                  保存修改
              </button>
          </div>
          <div style="position: absolute;top: 10px;right: 50px;">
              <img src="{$info['press']}" width="200">
              <p style="margin-top: 20px; margin-left: 10px;">
                <a type="button" class="layui-btn" name="" style="width: 180px;">上传图片</a>
                <input type="file" name="" style="display: block;margin-top: -38px; width: 180px;cursor: pointer;opacity: 0">
              </p>              
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
                  
          //监听提交
          form.on('submit(save)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            $.ajax({
              async: false,
              type: "POST",
              url:'{:Url('Book/update')}',
              contentType : "application/x-www-form-urlencoded; charset=utf-8",
              data:$("#edit-form").serialize(),
              dataType: "text",
              success: function () {
                showMsg("修改成功");
              },
              error: function () {
                showMsg("修改失败");
              }
            })
            return false;
          });
        });
        
        function showMsg(msg) {
          layer.alert(msg, {icon: 6},function () {
              // 获得frame索引
              var index = parent.layer.getFrameIndex(window.name);
              //关闭当前frame
              parent.layer.close(index);
            });
        }
        
    </script>
  </body>

</html>