<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
    <link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
    <link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
    <link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
</head>
<body>
    <ul class="myorder-item mt-14 fz-14">
        <li class="item active">
            <table class="myorder-info-table bd-1-e8 mt-20" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr class="info-title ta-ct" style="height: 38px;">
                        <td class="item bb-1-e8" width="38%" colspan="2">订单号:&nbsp;<span>{$order.orderId}</span></td>
                        <td class="item bb-1-e8" width="38%" colspan="3">下单时间:&nbsp;
                            <span>{$order.create_time}</span>
                        </td>
                        {switch name="order.orderstate"}
                            {case value="1" break="1"}<td class="item bb-1-e8" width="38%">待付款</td>{/case}
                            {case value="2" break="1"}<td class="item bb-1-e8" width="38%">待发货</td>{/case}
                            {case value="3" break="1"}<td class="item bb-1-e8" width="38%">待收货</td>{/case}
                            {case value="4" break="1"}<td class="item bb-1-e8" width="38%">已取消</td>{/case}
                            {case value="0" break="1"}<td class="item bb-1-e8" width="38%">已完成</td>{/case}
                        {/switch}                
                    </tr>
                    {volist name="list" id="vo"}
                    <tr class="info-text">
                        <td class="item bb-1-e8 vm ta-center">
                            <img src="{$vo.bookpress}" width="100px">
                        </td>
                        <td class="item bb-1-e8 ta-ct" width="174" colspan="1">{$vo.booktitle}</td>
                        <td class="item bb-1-e8 ta-ct" width="120">
                            <p class="price-init">¥{$vo.bookprice}</p>
                            <p>¥{$vo.bookprice}</p>
                        </td>
                        <td class="item bb-1-e8 br-1-e8" width="90">x&nbsp;{$vo.num}</td>
                        <td class="item bb-1-e8 br-1-e8 ta-ct" width="148">
                            <p>
                                <b class="fs-16 cl-rd">¥{$vo.price}</b><br/>
                                <span class="cl-9">(含运费：¥5.00)</span>
                            </p>
                        </td>
                    </tr>
                    {/volist}
                    <tr>
                        <td colspan="4"></td>                        
                        <td class="info-text">
                            <b class="fs-16 cl-rd">¥{$price}</b>
                            <a class="btn-buy ma" href="{:Url('Pay/orderpay')}?price={$price}&orderId={$order.orderId}" title="立即付款" target="_blank">立即付款</a>
                        </td>
                        <td class="info-text">
                            <a class="btn-cancel ma" href="javascript:void(0);" onclick="canc({$order.orderId}, {$order.orderstate})" title="取消订单">取消订单</a>   
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</body>
<script type="text/javascript">
    /*取消订单*/
    function canc(id, state) {
        if (state == 1) {
            //发异步更改状态
            $.post(
                "{:Url('Order/orderState')}",
                {addressId:id},
                function(){
                    alert("已取消！");
                }
            );
        } else if (state == 4) {
            alert("订单已取消，不可重复取消！");
        } else {
            alert("已发货不可取消！");
        }
        
    }
</script>
</html>