<!DOCTYPE html>
<html>
<head>
	<title>小幌疏订单</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->

	<div class="order-box1">
		<div class="f1">
			<!-- 左侧菜单栏 -->
			{include file="../application/front/view/common/orderlmenu.html"}
			<!-- end -->
			<div class="f1-right">
				<ul>
					<li class="list-item" style="display: block; ">
						<div class="myorder-info" style="margin-bottom: 20px;">
							<ul class="myorder-item-tab" style="margin-top: 10px;">
								<li class="item "><a href="{:Url('Order/index')}" data-type="all">全部订单</a></li>
								<li class="item "><a href="{:Url('Order/waitpay')}" data-type="wait_pay">待付款</a></li>
								<li class="item "><a href="{:Url('Order/waitsend')}" data-type="wait_send">待发货</a></li>
								<li class="item "><a href="{:Url('Order/beensend')}" data-type="been_send">待收货</a></li>
								<li class="item "><a href="{:Url('Order/waitcomment')}" data-type="wait_comment">待评价</a></li>
								<li class="cb" style="float: none !important;visibility: hidden !important;height: 0px !important;border: none !important;outline: none !important;margin: 0px !important;padding: 0px !important;font-size: 0px !important;line-height: 0px !important;clear: both;"></li>
							</ul>
							<div class="scroll" style="margin-top: 10px;position: relative;height: 2px;background-color: #e8e8e8;left: 151px;">
								<div class="scroll-x " style="position: absolute;width: 150px;height: 100%;left: 0%;top: 0px;background-color: #2db4ea; "></div>
							</div>
							<ul class="myorder-item " style="margin-top: 14px;">
								<li class="item2">
									<div class="mycolle-empty ">
										<table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td align="center" height="400">
														<img src="https://bnmpstyle.bookuu.com/www/images/empt-order.png">
														<p>还没有任何订单</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<!-- end -->
</body>
</html>