<!DOCTYPE html>
<html>
<head>
	<title>购物车界面</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->
	<div class="header-box bc-f">
		<div class= "logo-box">
			<div class="logo-box-f1">
				<a href="{:Url('Index/index')}"><img src="/bookstore/public/front/images/xhslogo.jpg"></a>
			</div>
		</div>
		<p class="clear"></p>
	</div>
	<div class="center-box">
		<div class="center-box-f1">
			<p class="center-box-hearder">
				<span class="p1">我的购物车</span>
				<span class="p2">温馨提示：1.购物车中的商品无法保留库存，请尽快购买。2.商品价格和库存将以订单提交时为准哦</span>
			</p>
		</div>

		<table width="100%" class="total-box tablecart" style="border-collapse: collapse;width: 1200px;margin: 0 auto;">
			<thead class="thead-1 fz-14" >
				<tr>
					<td align="center" width="40" class="pr fs-15">
						<input type="checkbox" style="cursor:pointer" class="choose choose-total choose-total product pafull-box op-0">
					</td>
					<td width="40">全选</td>
					<td width="450">商品信息</td>
					<td align="center" width="160">单价</td>
					<td align="center" width="120">数量</td>
					<td align="center"></td>
					<td align="center" width="200">金额(元)</td>
					<td>操作</td>
				</tr>
			</thead>
		</table>
		<table  class="choose-container ta-lf tablecart fz-14">
			<tbody class="choose-box">
				<tr class="lh-50 ht-50 fz-14 ">
					<td align="center" width="40" class="pr fs-15">
						<input type="checkbox" style="cursor:pointer" class="choose choose-all product pafull-box zi-1 op-0">
					</td>
					<td colspan="7" align="left">自营&nbsp;&nbsp;运费：<span name="postageinfo" data-poatage="59" data-poatagerule="5">5.00</span></td>
				</tr>
				<tr id="ssid_1">
					<td colspan="8" class="fs-16 lh-50 pd-0010">图书仓</td>
				</tr>
				<tr class="goods-box" id="goods_id_100000815">
					<td colspan="8">
						<div class="typecart-2">
							<ul class=" delete-box wd-1200 pd-0500">
								<li class="pr ta-ct wd-80 ht-80 fl fs-15">
									<input type="checkbox" data-free="1" data-id="100000815" data-economize="16.10" data-multi-id="165" data-goods-ssid="1" style="cursor:pointer" class="choose choose-child product pafull-box zi-1 op-0">
								</li>
								<li class="wd-450 ht-100 fl">
									<div class="fl wd-100 pr">
										<a class="db square-box one-one bgimg lazyload hidden" href="">
											<img src="/bookstore/public/front/images/30045400.jpg" width="100px">
										</a>
									</div>
									<div class="fr wd-300 ">
										<p class="ht-60 lh-20 oh mt-8">美的历程(精)/李泽厚集</p>
										<p class="ht-25 lh-25 oh mt-10"></p>
									</div>
								</li>
								<li class="ta-ct wd-160 fl lh-30">
									<del class="cl-9 mt-10">¥56.00</del>
									<p class="fz-16">¥<span class="money">39.90</span></p>					
								</li>
								<li class="ta-ct wd-140 fl">
									<div class="count-box mt-35">
										<div class="fl cl-c count-sub fz-25" onclick="MycountSub(this);">-</div>
										<input type="tel" name="" class="count-text fl cl-c" value="1">
										<div class="fl cl-c count-add fz-25 mr-20" onclick="MycountAdd(this);">+</div>
									</div>
								</li>
								<li>
								</li>
								<li class="fs-16  cl-rd ta-ct wd-200 fl mt-35">¥<span>39.90</span></li>
								<li class="fs-16 wd-120 fl mt-35">									
									<span class="cl-bl-l cp">删除</span>
								</li>
								<div class="cb"></div>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>


		<table width="100%" class="total-box tablecart fz-14" style="border-collapse: collapse;width: 1200px;margin: 0 auto; margin-top: 10px;">
			<tfoot>
				<tr>
					<td align="center" width="40" class="pr fs-15">
						<input type="checkbox" style="cursor:pointer" class="choose choose-total product pafull-box op-0">
					</td>
					<td>全选</td>
					<td>
						<label style="color: #999;padding: 0 30px;">已选<span class="pd-0010 amounts-box">1</span>件</label>
						<span class="cp  fs-16 op-60 button-delete" onclick="deleteConfirm(this, 'all');">删除选中商品</span>
					</td>
					<td colspan="4" align="right" class="lh-30" width="550">
						<p style="padding: 0 10px;">应付金额(不含运费): <label style="color: #e4393c;">¥<span style="font-size: 22px;">0.00</span></label></p>
						<p style="color: #666;padding: 0 30px;">商品合计 ¥<span class="money-box withpostage">0.00</span><span class="pd-0015">邮费：¥<span class="postage">0.00</span></span></p>
					</td>
					<td align="center">
						<a href="{:Url('Pay/index')}" id="">去结算</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<!-- end -->

</body>
</html>