<!DOCTYPE html>
<html>
<head>
	<title>支付界面</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
    <script type="text/javascript" src="/bookstore/public/xhh-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/bookstore/public/xhh-admin/js/xadmin.js"></script>
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->
    <div class="header-box">
        <div class= "logo-box">
            <div class="logo-box-f1">
                <a href="{:Url('Index/index')}"><img src="/bookstore/public/front/images/xhslogo.jpg"></a>
            </div>
        </div>
    </div>
    <div class="section bc-f">
        <div class="wid-1200 ma">
            <!-- 展开隐藏 -->
            <div class="fold-box tab-box">
                <div class="fz-16 fw-bold lh-50 hei-50">选择收货地址</div>
                <!--已有地址-->
                <div class="fold-content mh-160">
                    <div class="lh-30 fz-14">
                        <ul class="tab-title tab-order" id="address_choice_list">
                            <li class="wid-260 pd-0010 hei-140 mt-10 fl mr-15 on-tab delete-box" style="border: 2px #2db4ea solid;">
                                <p class="lh-30 bb-1-e8 to-hd">
                                    <span class="fz-12 cl-f bc-db mr-5 pd-0204">默认地址</span>
                                    北京 北京市（吴鹏飞 收）
                                </p>
                                <div class="pd-0500 lh-20">
                                    <p class="to-hd">北京 北京市 东城区</p>
                                    <p class="to-hd">121</p>
                                    <p class="to-hd">13538646590</p>
                                </div>
                                <p>
                                    <span class="mr-20 add-address">修改</span>
                                    <span class="cp">删除</span>
                                </p>
                                <div class="patch2"></div>
                            </li>

                            {volist name="address" id="vo"}
                            <li class="wid-260 pd-0010 hei-140 mt-10 fl mr-15 on-tab delete-box" style="border: 2px #2db4ea solid;">
                                <p class="lh-30 bb-1-e8 to-hd">
                                    <span class="fz-12 cl-f bc-db mr-5 pd-0204">默认地址</span>
                                    {$vo.name} 收
                                </p>
                                <div class="pd-0500 lh-20">
                                    <p class="to-hd">{$vo.address}</p>
                                    <p class="to-hd">{$vo.zipCode}</p>
                                    <p class="to-hd">{$vo.phone}</p>
                                </div>
                                <p>
                                    <span class="mr-20 add-address">修改</span>
                                    <span class="cp">删除</span>
                                </p>
                                <div class="patch2"></div>
                            </li>
                            {/volist}



                            <div class="cb"></div>
                        </ul>
                    </div>
                </div>
                <div class="cb"></div>
            </div>

            <!-- 确认商品信息 -->
            <div class="lh-50 hei-50 bt-1-e8">
                <p class="fz-16 fw-bold">确认商品信息</p>
            </div>
            <!-- 订单列表 -->
            <div class="fz-14">
                <ul class="cl-6 hei-45 lh-45 ta-center wid-1180 pd-0010 bc-f3">
                    <li class="wid-550 fl ta-left">商品信息</li>
                    <li class="wid-150 fl">单价(元)</li>
                    <li class="wid-200 fl">数量</li>
                    <li class="wid-160 fl">优惠</li>
                    <li class="wid-120 fl">金额(元)</li>
                    <div class="cb"></div>
                </ul>

                <!-- 包裹 -->
                <p class="lh-45">仓库：图书仓</p>
                <div class="border-patch">
                    <div class="hei-40 lh-40 wid-1180 pd-0010 tab-box change-container">
                        <div class="wid-100 fl fz-16" style="margin-top: 6px;">包裹1</div>
                        <div class="cb"></div>
                    </div>
                    <ul class="tab-content mouseenter-box wid-700 fr ta-rt" id="self_pickup_desc">
                        <li class="on-tab to-hd">送货上门</li>
                    </ul>
                    <div class="cb"></div>
                </div>
                <ul class="wid-1180 pd-10 lh-100 bt-1-e8">
                    <li class="wid-550 fl">
                        <div class="fl wid-100" >
                            <a href=""><img src="{$book['press']}" width="100"></a>
                        </div>
                        <div class="fr wid-450">
                            <p class="minh-60 lh-20">
                                {$book['title']}
                            </p>
                        </div>
                        <div class="cb"></div>
                    </li>
                    <li class="ta-ct wid-150 fl">
                        <p>¥{$book['price']}</p>                        
                    </li>
                    <li class="wid-200 fl ta-ct">1</li>
                    <li class="wid-160 fl ta-ct">¥0</li>
                    <li class="fz-18 cl-rd-l wid-120 fl ta-ct">¥{$book['price']}</li>
                    <div class="cb"></div>
                </ul>
            </div>
        </div>
        <!-- 邮费 -->
        <p class="lh-60 hei-60 wid-1200 ma">
            <span class="fz-16 fw-bold mr-25">邮费</span>
            <span class="fz-16 postage">¥0.00</span>
        </p>
        <div class="pd-1530 bc-f3 bd-1-e8 mt-20 ta-rt lh-35 wid-1200 ma fz-14">
            <table width="100%">
                <tr>
                    <td width="1007">商品应付总计：</td>
                    <td width="130">¥{$book['price']}</td>
                </tr>
                <tr>
                    <td class="pr">
                        <!-- <span class="icon-help-line mr-5 pr tp-2">&#xe92f;</span> -->
                    运费：</td>
                    <td width="130" class="postage">¥0.00</td>
                </tr>
                <tr class="ticket">
                    <td class="pr"><span class="icon-help-line mr-5 pr tp-2"></span>优惠券：</td>
                    <td width="130" class="ticket_money">-¥0.00</td>
                </tr>
                <tr>
                    <td>应付金额：</td>
                    <td width="130" class="cl-rd-l fz-18 pay_money">¥{$book['price']}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="mt-30 ht-50 lh-50">
                            <a class="cl-bl-l mr-30" href="{:Url('Cart/cartlist')}">返回购物车修改</a>
                            <span id="order_submit" class="cp fz-18 cl-f bc-rd pd-1530" onclick="">提交订单</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="fw-nm fz-14">
                        <p class="mt-10" id="consignee_user_show">吴鹏飞 收<span class="pd-0020">121</span>电话 13538646590</p>
                    </td>
                </tr>
            </table>
        </div>

        <!-- 尾部 -->
        {include file="../application/front/view/common/footer.html"}
        <!-- end -->
    </div>
</body>
</html>