
/*样式初始化*/
*{margin: 0px;padding: 0px;}
body{word-wrap:break-word;word-break: break-all;}
a{text-decoration: none;cursor: pointer;}
a:hover{color: #3ab5e6;}
ul li{list-style:none; }
.cp{cursor: pointer;}
.pclear{margin: 0;}
.cl-6{color: #666;}
.cl-21 {color: #212121;}
.cl-bl-l {color: #2db4ea;}
.cl-c{color: #ccc;}
.line{color: #ccc; padding: 0 10px;}
.cl-rd {color: #e4393c;}
.cl-bl-l {color: #2db4ea;}
.bc-f3 {background-color: #f3f3f3;}
.ma{margin: 0 auto;}
.wid-1200{width: 1200px;}
.clear{clear: both;}
.fz-12{font-size: 12px;}
.fz-14{font-size: 14px;}
.fz-16{font-size: 16px;}
.fz-18{font-size: 18px;}
.dp-inline{display: inline;}
.ta-lf{text-align: left;} 
.ta-rt {text-align: right;}
.ta-ct {text-align: center;}
.lh-50 {line-height: 50px;}
.lh-30 {line-height: 30px;}
.lh-28 {line-height: 28px;}
.lh-20 {line-height: 20px;}
.lh-40 {line-height: 40px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;}
.fs-12 {font-size: 12px;}
.fw-bd {font-weight: bold;}
.ht-50 {height: 50px;}
.ht-80 {height: 80px;}
.ht-60 {height: 60px;}
.ht-25 {height: 25px;}
.ht-25 {height: 25px;}
.ht-100 {height: 100px;}
.pd-0010 {padding: 0 10px;}
.pt-6 {padding-top: 6px;}
.pt-5 {padding-top: 5px;}
.pd-10 {padding: 10px;}
.pd-0500 {padding: 5px 0;}
.pd-0020 {padding: 0 20px;}
.pr-50 {padding-right: 50px;}
.pt-18 {padding-top: 18px;}
.fs-15 {font-size: 15px;}
.pr {position: relative;}
.bb-1-e8 {border-bottom: 1px #e8e8e8 solid;}
.wd-1200 {width: 1200px;}
.wd-120{width: 120px;}
.wd-80 {width: 80px;}
.wd-200 {width: 200px;}
.wd-160 {width: 160px;}
.wd-450 {width: 450px;}
.wd-158 {width: 158px;}
.wd-78 {width: 78px;}
.mt-8 {margin-top: 8px;}
.mt-10 {margin-top: 10px;}
.mt-35 {margin-top: 35px;}
.mt-35 {margin-top: 35px;}
.mt-20{margin-top: 20px; }
.mt-40 { margin-top: 40px;}
.ml-10 {margin-left: 10px;}
.mb-20 {margin-bottom: 20px;}
.mg-3 {margin: 3px;}
.cp {cursor: pointer;}
.bd-1-e8 {border: 1px #e8e8e8 solid;}
.br-1-e8 {border-right: 1px #e8e8e8 solid;}
.bc-f3 {background-color: #f3f3f3;}
.cb{clear: both;}
.va-tp {vertical-align: top;}
.wd-33p {width: 33.33333333333333%;}
.db {display: block;}
.pr {position: relative;}
.lh-18 {line-height: 18px;}
.mt-5 {margin-top: 5px;}
.ht-36 {height: 36px;}
.cl-rd-l {color: #e4393c;}
.cl-9 { color: #999;}
/************************************header.php**********************************/
.header{width: 100%;height: 30px;background: #f5f5f5;font-size: 12px;}
.header .top{height: 30px;line-height: 30px;}
.myhh{position: relative;}
.hhbox{width: 60px;border: 1px solid #f5f5f5;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);padding: 0px 10px 10px 10px;position: absolute;left: -11px;top: -1px;background-color: #FFF;display: none;}
.hhbox a{display: block;}
.myhh:hover .hhbox{display: block;}



/************************************login.v.php**********************************/
body.login{background: url("/xhh/images/3.jpg") no-repeat center top;}
.loginTop{margin-bottom: 110px;line-height: 34px;min-width: 960px;color:#fff;background: #2aad6f;height: 34px;}
.loginTop div{width: 960px;margin: 0 auto;}
.loginTop div li{float: left;}
.loginTop div a{display: inline-block;padding: 0 20px;border-left: 1px solid #57b488;color: #fff;font-size: 14px;}
.loginTop div a:hover{background: #47b488;}
.loginBox{height: 600px;background: url(../images/bannner.jpg) no-repeat center;}
.loginBox .mainBox{width: 320px; margin: 120px 200px 0 0; padding: 40px; background: #fff; border: 1px solid #fff; border-radius: 1px; }
.loginBox .mainBox .top{margin-bottom: 45px;}
.loginBox .mainBox .top img{display: block;margin: 0 auto 100px;}
.loginBox .mainBox .top h3{text-align: center;font-size: 20px;color: #3ab5e6;font-weight: 500;line-height: 20px;}
.loginBox .mainBox .loginArea form p{margin-top:20px;}
.loginBox .mainBox .loginArea form p input{height: 20px;line-height: 20px;padding: 12px 16px;font-size: 14px;background: #fff;width: 286px;border: 1px solid #e2e2e2;}
.loginBox .mainBox .loginArea form>input{margin: 30px 0 15px;color: #fff;background: #3ab5e6;text-align: center;width: 100%;line-height: 46px;font-size: 16px;cursor: pointer;border: none;}
.loginBox .mainBox .loginArea form>input:hover{background: #5CACEE;}
.loginBox .mainBox .loginArea .registerBtn{background: #fff;border: 1px solid #e2e2e2;color:  #3ab5e6;display: block;text-align: center;width: 100%;line-height: 46px;font-size: 16px;box-sizing: border-box;}
.loginBox .mainBox .loginArea .registerBtn:hover{background: #FFFAFA;}
.loginBox .loginFooter{text-align: center;padding: 14px 0;color: #7b7b7b;}


/************************************register.v.php**********************************/
.register .mainBox{width: 958px;border: 1px solid #e1e1e1;border-radius: 5px; background: #fff;margin-bottom: 20px;margin: 0 auto;}
.register .mainBox .top{border-bottom: 1px solid #e1e1e1; text-align: center;font-size: 30px;line-height: 110px;color: #3ab5e6;}
.register .mainBox .loginArea{width: 400px;margin: 0 auto;}
.register .mainBox .loginArea form{margin: 30px 0;font-size: 14px;}
.register .mainBox .loginArea form div{margin-top:20px;}
.register .mainBox .loginArea form div input{margin-left: 5px;height: 20px;line-height: 20px;padding: 10px 16px;font-size: 14px;background: #fff;width: 230px;border: 1px solid #e2e2e2;}
.register .mainBox .loginArea .regbtn{height: 46px;margin: 30px 0 15px;color: #fff;background: #3ab5e6;text-align: center;width: 230px;line-height: 30px;font-size: 16px;cursor: pointer;border: none;}
.register .mainBox .loginArea .regbtn:hover{background: #5CACEE;}
.register .mainBox .loginArea form div .code{width: 110px;}
.register .mainBox .loginArea form div button{width: 120px;height: 40px;cursor: pointer;background: #3ab5e6;border: none;color: #fff;font-size: 16px;}
.register .mainBox .loginArea form div button:hover{background: #5CACEE;}

/***************************************cart.v.php**********************************/
.header-box{border-bottom: 1px #e8e8e8 solid;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgb(232, 232, 232);margin: 0 auto;margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;width: 1200px;height: 120px; }
.logo-box{padding-top: 30px}
.logo-box-f1{width: 325px;height: 90px;float: left;}
.center-box{min-height: 500px;padding-bottom: 50px;background-color: #fff;position: relative;}
.center-box-f1{margin: 0 auto;width: 1200px;}
.center-box-hearder{line-height: 50px; height: 50px;display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;line-height: 50px;}
.center-box-hearder .p1{font-size: 18px;float: left;}
.center-box-hearder .p2{color: #999;float: right;font-size: 15px;color: #999;}
.center-box-center{text-align: center;padding: 200px 0;}
.center-box-center i{color:#6495ED ;font-size:80px ;}
.center-box-center .p3{font-size: 18px;padding: 20px 0;}
.center-box-center .button1{border: 1px #38b8eb solid;color: #fff;    background-color: #2ab4e8; padding: 10px 50px;margin-right: 10px;}
.center-box-center .button2{ border: 1px #38b8eb solid;color: #2db4ea;background-color: #d5f0fb;    padding: 10px 50px;}

/***************************************cartlist.v.php**********************************/
.total-box .thead-1{background-color: #f3f3f3;border: 1px #e8e8e8 solid;height: 50px;line-height: 50px;font-size: 16px;}
.total-box tfoot{background-color: #f3f3f3;border: 1px #e8e8e8 solid;height: 80px;line-height: 30px;font-size: 16px; margin-top: 10px;}
.total-box tfoot a{font-size: 24px;color: #fff;background-color: #de1616;display: block;height: 96px;line-height: 96px;}
.choose-container{width: 1200px;margin: 0 auto;}
.choose-container .choose-box{line-height: 24px;}
.typecart-2{border: 1px #e8e8e8 solid;height: 112px;    border-width: 1px 1px 0 1px;}
.delete-box {position: relative;}
.wd-300 {width: 300px;}
.square-box.one-one {padding-bottom: 100%;}
.bgimg {background-position: center center;background-size: contain;background-repeat: no-repeat;}

/***************************************order.v.php**********************************/
.order-box1{height: 700px; width: 1200px;margin: 0 auto;box-sizing: border-box;}
.order-box1 .f1{height: 600px; width: 1200px;margin: 0 auto ; margin-top: 20px;}
.order-box1 .f1 .f1-left{width:179px;padding-left: 19px;padding-bottom: 20px;height: 300px;float: left;border: 1px #e8e8e8 solid; }
.order-box1 .f1 .f1-left .f1-left-title{font-size: 18px;font-weight: normal;line-height: 2.5;}
.order-box1 .f1 .f1-left .left-box1{width: 150px;padding-left: 19px;border-top: 1px #e8e8e8 solid;padding-bottom: 16px;}
.order-box1 .f1 .f1-left .left-box1 .item{margin-top: 14px;text-indent: 0.5em;border-left: 2px transparent solid;}
.order-box1 .f1 .f1-left .left-box1 a{ color: #212121;outline: none;text-decoration: none;}
.order-box1 .f1 .f1-right{ height: 577px; width: 951px;padding-left: 18px;padding-right: 19px;padding-top: 16px;  border: 1px #e8e8e8 solid;margin-left: 10px;float: left;}
.order-box1 .f1 .f1-right .item{ float: left;display: block;width: 150px;font-size: 16px;text-align: center;border-right: 1px #e8e8e8 solid;}
.order-box1 .f1 .f1-right .item a{outline: none;text-decoration: none;color: #212121;}
.price-init {color: #999999;text-decoration: line-through;}
.btn-buy {color: #fff;background-color: #2db4ea;border-color: #2db4ea;display: block;line-height: 30px;text-align: center;padding-left: 10px;padding-right: 10px;border: 1px transparent solid;}
 .btn-cancel{display: block;line-height: 30px;text-align: center;padding-left: 10px;padding-right: 10px;border: 1px transparent solid;}
/***************************************information.v.php**********************************/
.information-box{ width: 951px;padding-left: 18px;padding-right: 19px;padding-top: 16px;border: 1px #e8e8e8 solid;margin-left: 10px;float: right;height: 580px;}
.information-box-top{display: block;height: 228px;width: 951px;}
.information-box-top .p{ font-size: 18px;font-weight: normal;line-height: 2.5; border-bottom: 1px #e8e8e8 solid;}
.information-box .information-box-bottom{height: 42px;width: 698px;line-height: 20px;background-color: #f5f5f5;border: 1px #e8e8e8 solid;text-align: center;margin-bottom: 232px;margin-top: 30px;}
.information-box .information-box-bottom .item{float: left;width: 130px;padding: 10px 0;}
/***************************************address.v.php**********************************/
.personal-list-item {width: 951px;padding-left: 18px; padding-right: 19px;padding-top: 16px;}
.address-info {position: relative;}
.bb-1-e8 {border-bottom: 1px #e8e8e8 solid;}
.mb-20 { margin-bottom: 20px;}
.list-item-title { font-size: 18px;font-weight: normal;line-height: 2.5;}
.fs-14 {font-size: 14px;}
.cl-9 {color: #999;}
.address-info-table {width: 100%;}
.bd-1-e8 {border: 1px #e8e8e8 solid;}
.address-info-table .info-title {height: 48px;background-color: #f5f5f5;}
.address-info-table .info-text {height: 100px;}
.address-info-table .btn-address.active {color: #2db4ea;border-color: #2db4ea;background-color: #c2eeff;}
.address-info-table .btn-address {display: inline-block;width: 108px;text-align: center;line-height: 28px;border: 1px transparent solid; border-radius: 6px;}
.address-info-table.active{display: none;}
/***************************************set.v.php**********************************/
.personal-list-item {
    width: 951px;
    padding-left: 18px;
    padding-right: 19px;
    padding-top: 16px;
}
.personal-list-item .list-item.active {
    display: block;
}
.list-item-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 2.5;
}
/**
 *个人设置
 */
.hide{
    display: none;
}
.set-info-form {
    display: none; 
}
.set-info-form.active{
    display: block;
}
.set-info input[type=text] {
    text-indent: 0.5em;
}
.set-info-form .icon-checkbox-line2 {
    color: #2db4ea;
}
.set-info-form .user-lable input {
    position: relative;
    z-index: 99;
    left: -39px;
    top: 1px;
}
.set-info-form .btn-save {
    display: inline-block;
}


/***************************************quality.v.php**********************************/
.section.bc-f5 {
    background-color: #f5f5f5;
}
.border-patch {
    width: 1200px;
    position: relative;
    border: 1px #e8e8e8 solid;
    border-width: 1px 0 1px 0;
}
.flexslider {
    background: #fff;
    position: relative;
    zoom: 1;
}


/***************************************footer.v.php**********************************/

.footer{border-top: 1px #e1e1e1 solid; background-color: #fff;}
.footer .tag{padding: 20px;height: 60px;border-bottom: 1px #e1e1e1 solid;}
.footer .tag ul {padding: 0 50px;width: 1100px;margin: 0 auto;}
.footer .tag li {line-height: 25px;    padding: 5px 0;    width: 25%;    float: left; }
.footer .tag img{margin-right: 10px; border: none;max-width: 100%;}
.footer .copyright{ height: 50px;padding: 20px 0;background-color: #414141;}
.footer .copyright .box1 .box2{width: 100%}
.footer .copyright .box1 .box2 p{line-height: 50px;text-align: center;    color: #999;}
