/*全局css*/
*{margin: 0px;padding: 0px;}
body{word-wrap:break-word;word-break: break-all;min-height: 100%;width: 100%;overflow-x: hidden;}
a{text-decoration: none;cursor: pointer;color: #666;}
a:hover{color: #3ab5e6;}
ul li{list-style: none;}
.cp{cursor: pointer;}
.pclear{margin: 0;}
/*全局字体、背景颜色设置*/
.cl-3{color: #333;}
.cl-6{color: #666;}
.cl-9{color: #999;}
.cl-c{color: #ccc;}
.cl-f{color: #fff;}
.cl-a9{color: #a9a9a9;}
.cl-3a{color: #3ab5e6;}
.cl-ea{color: #ea5863;}
.cl-e4{color: #e4393c;}
.bc-f3{background-color: #f3f3f3}
.bc-f5{background-color: #f5f5f5}
.bc-e5{background-color: #e5e5e5;}
.bc-f{background-color: #fff;}
.bc-63{background-color: #63c5e5;}
.hei-400{height: 400px;}
.hei-36{height: 36px;}
.hei-50{height: 50px;}
.hei-93{height: 93px;}
.hei-100{height: 100px;}
.hei-183{height: 183px;}
.ma{margin: 0 auto;}
.wid-25p{width: 25%;}
.wid-50p{width: 50%;}
.wid-33p{width: 33.3333333333%;}
.wid-30{width: 30px;}
.wid-80{width: 80px;}
.wid-90{width: 90px;}
.wid-100{width: 100px;}
.wid-120{width: 120px;}
.wid-220{width: 220px;}
.wid-390{width: 390px;}
.wid-430{width: 430px;}
.wid-480{width: 480px;}
.wid-520{width: 520px;}
.wid-840{width: 840px;}
.wid-970{width: 970px;}
.wid-1200{width: 1200px;}
.clear{clear: both;}
.fl{float: left;}
.fr{float: right;}
.fz-12{font-size: 12px;}
.fz-14{font-size: 14px;}
.fz-16{font-size: 16px;}
.fz-18{font-size: 18px;}
.fz-21{font-size: 21px;}
.fz-25{font-size: 25px;}
.fz-28{font-size: 28px;}
.lh-18{line-height: 18px;}
.lh-28{line-height: 28px;}
.lh-30{line-height: 30px;}
.lh-40{line-height: 40px;}
.lh-50{line-height: 50px;}
.lh-60{line-height: 60px;}
.lh-46{line-height: 46px;}
.m-3{margin: 3px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}
.mr-15{margin-right: 15px;}
.mr-20{margin-right: 20px;}
.mt-5{margin-top: 5px;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.pd-10{padding: 10px;}
.pd-15{padding: 15px;}
.pr-15{padding-right: 15px;}
.pd-0015{padding: 0 15px;}
.pd-0020{padding: 0 20px;}
.pd-3040{padding: 30px 40px;}
.fw-bold{font-weight: bold}
.ta-left{text-align: left;}
.ta-center{text-align: center;}
.ta-right{text-align: right;}
.oh{overflow: hidden;}
.line{color: #ccc; padding: 0 10px;}
.dp-inline{display: inline;}
.dp-inbl{display: inline-block;}
.dp-block{display: block;}
.pr{position: relative;}
.bd-1-f5{border: 1px solid #f5f5f5;}
.bt-1-f5{border: 1px solid #f5f5f5;}
.bgimg{background-position: center center; background-size: contain; background-repeat: no-repeat;background-size: 100%;}
.visible{transition: all 0.3s}
.visible:hover{transform: scale(1.1,1.1);opacity: 1;}