<!DOCTYPE html>
<html>
<head>
	<title>小幌疏图书</title>
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->

	<section class="detail-box">
		<div class="wid-1200 ma mb-20">
			<p class="lh-50 cl-3 fz-14">
				您的当前位置：
				<a href="">全部分类</a>
				>
				<a href="">图书</a>
				>
				<a href="">艺术</a>
				>
				<a href="">绘画</a>
				>
				<a href="">画册/作品集</a>				
			</p>
			<div class="detail-show">
				<div class="fl mr-20 wid-430">
					<div class="bigpic oh pr bd-1-f5">
						<div>
							<p class="ta-center"><img height="430" src="{$info['press']}"></p>
						</div>
					</div>
					<div class="smpic bd-1-f5 oh mt-20">
						<div>
							<img width="76" src="{$info['press']}">
						</div>
					</div>
				</div>
				<div class="fl wid-520 ml-20">
					<p class="cl-3 mb-10 fz-18 fw-bold">{$info['title']}</p>
					<p class="cl-9 fz-16 oh mt-10 mb-10 hei-50 oh">{$info['description']}</p>
					<div class="cl-9 fz-14 mt-10 mb-10 lh-30">
						作者：
						<a href="" class="cl-3a mr-10">{$info['author']}</a>
						出版社：
						<a href="" class="cl-3a">{$info['paddress']}</a>
					</div>
					<div class="bc-e5 pd-15">
						<table class="lh-30" width="100%">
							<tbody>
								<tr>
									<td width="70" class="cl-9 fz-14">定  价</td>
									<td class="cl-3">
										<del>￥{$info['price']}.00</del>
									</td>
								</tr>
								<tr>
									<td width="70" class="cl-9 fz-14">售  价</td>
									<td class="cl-e4">
										￥
										<span class="cl-e4 fz-28">{$info['price']}.00</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="pd-0015">
						<table width="100%" class="lh-30 mt-10">
							<tbody>
								<tr>
									<td width="70" class="cl-9 fz-14">运费</td>
									<td class="cl-3 fz-14">满59包邮</td>
								</tr>
								<tr>
									<td width="70" class="cl-9 fz-14">销量</td>
									<td class="cl-3 fz-14">{$info['soldNum']}</td>
								</tr>
								<tr>
									<td width="70" class="cl-9 fz-14">数量</td>
									<td class="cl-3 fz-14">
										<div class="fl mr-20 count-box">
											<div class="fl cl-c count-sub fz-25">-</div>
											<input type="tel" name="" class="count-text fl cl-c" value="1">
											<div class="fl cl-c count-add fz-25 mr-20">+</div>
											<span class=" cl-9">库存：{$info['stockNum']}</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mt-20 ta-left">
						<label class="im-buy cp fl">立即购买</label>
						<label class="add-cart cp fl">
							<i class="fas fa-shopping-cart mr-5"></i>加入购物车</label>
						<div class="store-up cp fl">
							<i class="far fa-star fz-16"></i>
							<p>收藏</p>
						</div>
					</div>					
					<table width="100%" class="lh-60">
						<tbody>
							<tr>
								<td width="70" class="cl-9 fz-14">服务</td>
								<td>
									<label class="mr-20">
										<i class="fas fa-check-circle cl-e4 fz-14"></i>
										<span class="cl-3 fz-14">正品保证</span>
									</label>
									<label class="mr-20">
										<i class="fas fa-check-circle cl-e4 fz-14"></i>
										<span class="cl-3 fz-14">七天无理由退换货</span>
									</label>
									<label>
										<i class="fas fa-check-circle cl-e4 fz-14"></i>
										<span class="cl-3 fz-14">赠送47积分</span>
									</label>
								</td>
							</tr>
						</tbody>
					</table>					
				</div>
			</div>
			<p class="clear"></p>			
		</div>
		<p class="clear"></p>
		<div class="wid-1200 ma">
			<div class="wid-220 bd-1-f5 fl">
				<div class="fz-18 lh-50 ta-center bc-f3">新品推荐</div>
				<div class="ta-center bt-1-f5">
					<div class="pd-10 oh">
						<a href="" data-bgimg="background-image: url(/bookstore/public/front/images/2018110330305474-52270.jpg);" style="background-image: url(/bookstore/public/front/images/2018110330305474-52270.jpg); padding-bottom: 100%;width:100%;" class="bgimg dp-block"></a>
					</div>
					<div class="context">
						<a href="" class="db hei-36 oh mt-5 cl-6 pd-0020 fz-14">真人真像/零基础学素描</a>
						<div class="lh-40">
							<span class="cl-e4">￥16.19</span>
							<span class="cl-9">|</span>
							<del class="fz-12 fl-9">￥22.80</del>
						</div>
					</div>
				</div>
				<div class="ta-center bt-1-f5">
					<div class="pd-10 oh">
						<a href="" data-bgimg="background-image: url(/bookstore/public/front/images/201811204372789-fm.jpg);" style="background-image: url(/bookstore/public/front/images/201811204372789-fm.jpg); padding-bottom: 100%;width:100%;" class="bgimg dp-block"></a>
					</div>
					<div class="context">
						<a href="" class="db hei-36 oh mt-5 cl-6 pd-0020 fz-14">像梵高那样创意绘画/ART创意训练营</a>
						<div class="lh-40">
							<span class="cl-e4">￥55.39</span>
							<span class="cl-9">|</span>
							<del class="fz-12 fl-9">￥78.00</del>
						</div>
					</div>
				</div>
				<div class="ta-center bt-1-f5">
					<div class="pd-10 oh">
						<a href="" data-bgimg="background-image: url(/bookstore/public/front/images/2018110630306320-74567.jpg);" style="background-image: url(/bookstore/public/front/images/2018110630306320-74567.jpg); padding-bottom: 100%;width:100%;" class="bgimg dp-block"></a>
					</div>
					<div class="context">
						<a href="" class="db hei-36 oh mt-5 cl-6 pd-0020 fz-14">人物速写/零基础学素描</a>
						<div class="lh-40">
							<span class="cl-e4">￥16.19</span>
							<span class="cl-9">|</span>
							<del class="fz-12 fl-9">￥22.80</del>
						</div>
					</div>
				</div>
				<div class="ta-center bt-1-f5">
					<div class="pd-10 oh">
						<a href="" data-bgimg="background-image: url(/bookstore/public/front/images/201811204372789-fm.jpg);" style="background-image: url(/bookstore/public/front/images/201811204372789-fm.jpg); padding-bottom: 100%;width:100%;" class="bgimg dp-block"></a>
					</div>
					<div class="context">
						<a href="" class="db hei-36 oh mt-5 cl-6 pd-0020 fz-14">像梵高那样创意绘画/ART创意训练营</a>
						<div class="lh-40">
							<span class="cl-e4">￥55.39</span>
							<span class="cl-9">|</span>
							<del class="fz-12 fl-9">￥78.00</del>
						</div>
					</div>
				</div>
				<div class="ta-center bt-1-f5">
					<div class="pd-10 oh">
						<a href="" data-bgimg="background-image: url(/bookstore/public/front/images/201812124378766-fm.jpg);" style="background-image: url(/bookstore/public/front/images/201812124378766-fm.jpg); padding-bottom: 100%;width:100%;" class="bgimg dp-block"></a>
					</div>
					<div class="context">
						<a href="" class="db hei-36 oh mt-5 cl-6 pd-0020 fz-14">创意速写训练营/时光速写系列丛书</a>
						<div class="lh-40">
							<span class="cl-e4">￥55.38</span>
							<span class="cl-9">|</span>
							<del class="fz-12 fl-9">￥78.00</del>
						</div>
					</div>
				</div>
			</div>
			<div class="wid-840 fl ml-10">
				<div class=" bd-1-f5">
					<div class="fz-18 lh-50 ta-left bc-f3">
						<div class="wid-120 fl bc-f pr ta-center">
							商品详情
							<div class="triangle-border">
								<i class="fas fa-caret-down triangle-icon"></i>
							</div>
						</div>
						<div class="wid-120 fl ta-center">商品评价</div>
						<p class="clear"></p>					
					</div>
					<div>
						<ul class="fz-14 cl-3 pd-3040 lh-30">
							<li class="wid-33p fl">
								<span>出版社：</span>
								<span>{$info['paddress']}</span>
							</li>
							<li class="wid-33p fl">
								<span>ISBN：</span>
								<span>{$info['isbn']}</span>
							</li>
							<li class="wid-33p fl">
								<span>作者：</span>
								<span>{$info['author']}</span>
							</li>																		
							<p class="clear"></p>						
						</ul>
						<p class="pd-3040 fz-14 lh-30 cl-3">
							<span>简介：</span>
							<span>{$info['description']}</span>
						</p>
						<p class="clear"></p>
					</div>
				</div>				
			</div>			
		</div>
		<p class="clear"></p>
	</section>

	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<!-- end -->

</body>
</html>