<footer class="footer">
	<div class="tag">
		<ul class="clearfix">
			<li class="cl-4 lh-25 pd-0500 wd-25p fl">
				<img src="/bookstore/public/front/images/zheng.png" width="50" height="50" class="fl defaultlazy" />
				<div class="fl">
					<p class="fs-24 ">全场正品</p>
					<p>出版社直采·博库正品</p>
				</div>
				<div class="cb"></div>
			</li>
			<li class="cl-4 lh-25 pd-0500 wd-25p fl">
				<img src="/bookstore/public/front/images/sheng.png" alt="" width="50" height="50" class="fl defaultlazy" />
				<div class="fl">
					<p class="fs-24 ">全场满59包邮</p>
					<p>惊喜不断·让利多多</p>
				</div>
				<div class="cb"></div>
			</li>
			<li class="cl-4 lh-25 pd-0500 wd-25p fl">
				<img src="/bookstore/public/front/images/huo.png" alt="" width="50" height="50" class="fl defaultlazy " />
				<div class="fl">
					<p class="fs-24 ">门店自取</p>
					<p>就近取货·方式灵活</p>
				</div>
				<div class="cb"></div>
			</li>
			<li class="cl-4 lh-25 pd-0500 wd-25p fl">
				<img src="/bookstore/public/front/images/you.png" alt="" width="50" height="50" class="fl defaultlazy" />
				<div class="fl">
					<p class="fs-24 ">售后无忧</p>
					<p>服务体验·更加精彩</p>
				</div>
				<div class="cb"></div>
			</li>
		</ul>
	</div>
	<div class="copyright">
		<div class="box1" style="width: 100%;">
			<div class="box2">
				<p>©2018 xiaohuangshu.com 版权所有</p>
			</div>
		</div>
	</div>
</footer>