<div class="f1-left">
	<div class="f1-left-title">个人中心</div>
	<ul class="left-box1 fz-14">
		<li class="item active" ><a href="{:Url('Information/index')}">我的信息</a></li>
		<li class="item"><a href="{:Url('Order/index')}">我的订单</a></li>
		<li class="item"><a href="">我的等级</a></li>
		<li class="item"><a href="">我的积分</a></li>
		<li class="item"><a href="{:Url('Collect/index')}">我的收藏</a></li>
	</ul>
	<ul class="left-box1 fz-14">
		<li class="item" style="border-left: 2px #2db4ea solid;"><a href="{:Url('Address/index')}">我的收货地址</a></li>
		<li class="item active"><a href="{:Url('Setinfo/index')}">个人设置</a></li>
	</ul>
</div>