<section class="wid-1200 ma bc-f">
	<div class="search-box" id="search-container">
		<div class="logo-container">
			<a class="logo fl" href="{:Url('Index/index')}">
				<img src="/bookstore/public/front/images/xhslogo.jpg">
			</a>
			<div class="search-box fl">
				<div class="search">
					<input type="text" name="search" class="search-input fl" placeholder="二月河">
					<a href=""><i class="fas fa-search icon fl"></i></a>
				</div>					
			</div>
			<p class="fl tip">
				<a href="" class="cl-9 fz-12" target="_blank">金庸</a>
				<span class="line">|</span>	
				<a href="" class="cl-9 fz-12" target="_blank">红星照耀中国</a>
				<span class="line">|</span>	
				<a href="" class="cl-9 fz-12" target="_blank">半小时漫画中国史</a>
				<span class="line">|</span>	
				<a href="" class="cl-9 fz-12" target="_blank">三体</a>
				<span class="line">|</span>	
				<a href="" class="cl-9 fz-12" target="_blank">四大名著笔记本</a>
			</p>
			<div class="cart-box fr">
				<a href="{:Url('Cart/index')}">
					<i class="fas fa-shopping-cart fz-18 cl-a9"></i>
					<span class="fz-16">购物车</span>
				</a>
			</div>
		</div>
		<div class="menu-box">
			<div class="all-objects cl-f fl">
				<i class="fas fa-th-list"></i>
				<span>所有商品分类</span>
			</div>
			<div class="menu fl">
				<a href="{:Url('Index/index')}" class="cl-3a fz-16" target="_self">首页</a>
				<a href="" class="cl-3 fz-16" target="_blank">新品</a>
				<a href="" class="cl-3 fz-16" target="_blank">限时购</a>
				<a href="" class="cl-3 fz-16" target="_blank">排行榜</a>
				<span>|</span>						
				<a href="" class="cl-3 fz-16" target="_blank">图书馆</a>
				<a href="" class="cl-3 fz-16" target="_blank">文创馆</a>
				<a href="" class="cl-3 fz-16" target="_blank">生活美学馆</a>					
			</div>
		</div>
	</div>
</section>
<div class="division"></div>