<!DOCTYPE html>
<html>
<head>
	<title>购物车界面</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->

	<!-- 频道页 -   页面内容 -->
	<div class="section bc-f5">

		<div class="wd-1200 ma">
			<!-- 广告图集 之 一张通栏banner图片 module_type=1 template_id=55 - 1920 * 600 -->
			<div class="my_module" id="456" data-template-id="55" module-id="456" module-type="1">

				<div>
					<img src="/bookstore/public/front/images/q1.jpg" width="100%">
				</div>
			</div>

			<!-- 广告图集 之 三张均分广告图 module_type=1 template_id=38-->
			<div class="my_module ">
				<div class="mb-20">
					<ul class="wd-1200">
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100760686">
								<img width="394" src="/bookstore/public/front/images/q2.jpg" alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100880767">
								<img width="394" src="/bookstore/public/front/images/q3.jpg"  alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100234417">
								<img width="394" src="/bookstore/public/front/images/q4.jpg"  alt="" class="db hidden">
							</a>
						</li>
						<div class="cb"></div>
					</ul>
				</div>
			</div>

			<!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
			<div class="my_module" id="516" data-template-id="7" module-id="516" module-type="3">

				<!--猜你喜欢  横向-->
				<div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">

					<div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">少儿童书</div>

					<!-- 商品列表 -->
					<div class="booklist">
				<div class="book-six">
					<ul>
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img visible">
									<a href=""><img src="/bookstore/public/front/images/q5.png"></a>
								</div>
								<div class="box-text ta-center">
									<a href="" class="lh-18 cl-6 fz-14 oh">小猪佩奇主题绘本（共五册）</a>
									<div class="ta-center">
										<span class="cl-e4 fz-16">￥44.1</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥90</del>
									</div>
								</div>
							</div>
						</li>
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img ta-center visible">
									<a href=""><img src="/bookstore/public/front/images/q6.jpg"></a>
								</div>
								<div class="box-text ta-center">
									<a href="" class="lh-18 cl-6 fz-14 oh">中华上下五千年(4册)</a>
									<div class="ta-center">
										<span class="cl-e4 fz-16">￥32.50</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥92</del>
									</div>
								</div>
							</div>
						</li>
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img ta-center visible">
									<a href=""><img src="/bookstore/public/front/images/q7.jpg"></a>
								</div>
								<div class="box-text">
									<a href="" class="lh-18 cl-6 fz-14 oh">长藤国际大奖小说书系(共6册)</a>
									<div class="ta-center">
										<span class="cl-e4 fz-16">￥65.90</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥115.60</del>
									</div>
								</div>
							</div>
						</li>
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img visible">
									<a href=""><img src="/bookstore/public/front/images/q8.jpg"></a>
								</div>
								<div class="box-text ta-center">
									<a href="" class="lh-18 cl-6 fz-14 oh">淘气包马小跳系列（）</a>
									<div class="ta-center">
										<span class="cl-e4 fz-16">￥19.90</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥120.00</del>
									</div>
								</div>
							</div>
						</li>
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img visible">
									<a href=""><img src="/bookstore/public/front/images/q9.jpg"></a>
								</div>
								<div class="box-text ta-center">
									<a href="" class="lh-18 cl-6 fz-14 oh">悲惨世界(上中下)(精)/名著名译丛书</a>
									<div class="">
										<span class="cl-e4 fz-16">￥52.90</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥110.00</del>
									</div>
								</div>
							</div>
						</li>
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img visible">
									<a href=""><img src="/bookstore/public/front/images/q10.jpg"></a>
								</div>
								<div class="box-text ta-center">
									<a href="" class="lh-18 cl-6 fz-14 oh">赠笔记本考工记 单本</a>
									<div class="">
										<span class="cl-e4 fz-16">￥25.80</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥42.00</del>
									</div>
								</div>
							</div>
						</li>
						<p class="clear"></p>
					</ul>
				</div>

				</div>

			</div>



			<!-- 广告图集 之 三张均分广告图 module_type=1 template_id=38-->
			<div class="my_module" id="523" data-template-id="38" module-id="523" module-type="1">
				<div class="mb-20">
					<ul>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100872803">
								<img width="800" data-src="https://media2.v.bookuu.com/activity/11/44/20170815114407426.jpg" src="https://media2.v.bookuu.com/activity/11/44/20170815114407426.jpg" alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100105164">
								<img width="800" data-src="https://media2.v.bookuu.com/activity/11/44/20170815114408311.jpg" src="https://media2.v.bookuu.com/activity/11/44/20170815114408311.jpg" alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100881857">
								<img width="800" data-src="https://media2.v.bookuu.com/activity/11/44/20170815114408327.jpg" src="https://media2.v.bookuu.com/activity/11/44/20170815114408327.jpg" alt="" class="db hidden">
							</a>
						</li>
						<div class="cb"></div>
					</ul>
				</div>
			</div>

			<!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
			<div class="my_module" id="517" data-template-id="7" module-id="517" module-type="3">

				<!--猜你喜欢  横向-->
				<div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">

					<div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">文学小说</div>

					<!-- 商品列表 -->
					<div class="pt-5">
						<div class="flexslider product-six">
							<ul class="slides mouseenter-box">

								<li class="ta-ct">
									<div class="mg-5 mouseenter mouseleave">
										<div class="scale pd-10 oh pr">
											<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(https://wdimg3.bookuu.com/goods/20/28/54/2874637.jpg@!w210);" target="_blank" href="/detail.php?id=100106429"></a>

											<div class="tip-box">
												<img src="https://media2.v.bookuu.com/activity/10/35/20181221103526892.png">
											</div>

										</div>
										<div class="context">
											<a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100106429">解忧杂货店(精)</a>
											<div>
												<span class="fs-16 cl-rd-l">¥19.4</span>
												<span class="cl-9">|</span>
												<del class="fs-12 cl-9">¥39.50</del>
											</div>
										</div>
									</div>
								</li>
								<li class="ta-ct">
									<div class="mg-5 mouseenter mouseleave">
										<div class="scale pd-10 oh pr">
											<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(https://wdimg3.bookuu.com/goods/20/06/23/2353163.jpg@!w210);" target="_blank" href="/detail.php?id=100104359"></a>

											<div class="tip-box">
												<img src="https://media2.v.bookuu.com/activity/10/35/20181221103526892.png	">
											</div>

										</div>
										<div class="context">
											<a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100104359">活着 余华作品</a>
											<div>
												<span class="fs-16 cl-rd-l">¥9.8</span>
												<span class="cl-9">|</span>
												<del class="fs-12 cl-9">¥20.00</del>
											</div>
										</div>
									</div>
								</li>
								<li class="ta-ct">
									<div class="mg-5 mouseenter mouseleave">
										<div class="scale pd-10 oh pr">
											<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(https://wdimg3.bookuu.com/goods/19/21/47/2352454.jpg@!w210);" target="_blank" href="/detail.php?id=100102516"></a>


										</div>
										<div class="context">
											<a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100102516">白鹿原(精)</a>
											<div>
												<span class="fs-16 cl-rd-l">¥30.03</span>
												<span class="cl-9">|</span>
												<del class="fs-12 cl-9">¥39.00</del>
											</div>
										</div>
									</div>
								</li>
								<li class="ta-ct">
									<div class="mg-5 mouseenter mouseleave">
										<div class="scale pd-10 oh pr">
											<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(https://wdimg3.bookuu.com/goods/18/43/07/1997254.jpg@!w210);" target="_blank" href="/detail.php?id=100000146"></a>


										</div>
										<div class="context">
											<a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100000146">百年孤独(精)</a>
											<div>
												<span class="fs-16 cl-rd-l">¥34.76</span>
												<span class="cl-9">|</span>
												<del class="fs-12 cl-9">¥39.50</del>
											</div>
										</div>
									</div>
								</li>
								<li class="ta-ct">
									<div class="mg-5 mouseenter mouseleave">
										<div class="scale pd-10 oh pr">
											<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(https://wdimg3.bookuu.com/goods/09/50/54/1498614654.jpg@!w210);" target="_blank" href="/detail.php?id=100000669"></a>


										</div>
										<div class="context">
											<a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100000669">围城(精)</a>
											<div>
												<span class="fs-16 cl-rd-l">¥29.64</span>
												<span class="cl-9">|</span>
												<del class="fs-12 cl-9">¥39.00</del>
											</div>
										</div>
									</div>
								</li>
								<li class="ta-ct">
									<div class="mg-5 mouseenter mouseleave">
										<div class="scale pd-10 oh pr">
											<a class="db square-box one-one bgimg lazyload hidden" data-bgimg="background-image: url(https://wdimg3.bookuu.com/goods/19/43/05/3240633.jpg@!w210);" target="_blank" href="/detail.php?id=100103153"></a>

											<div class="tip-box">
												<img src="https://media2.v.bookuu.com/activity/10/35/20181221103526892.png">
											</div>

										</div>
										<div class="context">
											<a class="db cl-6 ht-36 lh-18 oh mt-5" target="_blank" href="/detail.php?id=100103153">霍乱时期的爱情(精)</a>
											<div>
												<span class="fs-16 cl-rd-l">¥24.3</span>
												<span class="cl-9">|</span>
												<del class="fs-12 cl-9">¥49.50</del>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

			<!-- 尾部 -->
			{include file="../application/front/view/common/footer.html"}
			<!-- end -->
		</body>
		</html>