<!DOCTYPE html>
<html>
<head>
	<title>品质好书</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->

	<!-- 频道页 -   页面内容 -->
	<div class="section bc-f5" style="padding-bottom: 5px;">
		<div class="wd-1200 ma">
			<!-- 广告图集 之 一张通栏banner图片 module_type=1 template_id=55 - 1920 * 600 -->
			<div class="my_module" id="456" data-template-id="55" module-id="456" module-type="1">
				<div>
					<img src="/bookstore/public/front/images/q1.jpg" width="100%">
				</div>
			</div>

			<!-- 广告图集 之 三张均分广告图 module_type=1 template_id=38-->
			<div class="my_module ">
				<div class="mb-20">
					<ul class="wd-1200">
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100760686">
								<img width="394" src="/bookstore/public/front/images/q2.jpg" alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100880767">
								<img width="394" src="/bookstore/public/front/images/q3.jpg"  alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100234417">
								<img width="394" src="/bookstore/public/front/images/q4.jpg"  alt="" class="db hidden">
							</a>
						</li>
						<div class="cb"></div>
					</ul>
				</div>
			</div>

			<!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
			<div class="my_module" id="516" data-template-id="7" module-id="516" module-type="3">
				<!--猜你喜欢  横向-->
				<div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">
					<div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">少儿童书</div>
					<!-- 商品列表 -->
					<div class="booklist">
						<div class="book-six">
							<ul>
								<li class="scale-box fl ma">
									<div class="box">
										<div class="box-img visible">
											<a href=""><img src="/bookstore/public/front/images/q5.png"></a>
										</div>
										<div class="box-text ta-center">
											<a href="" class="lh-18 cl-6 fz-14 oh">小猪佩奇主题绘本（共五册）</a>
											<div class="ta-center">
												<span class="cl-e4 fz-16">￥44.1</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥90</del>
											</div>
										</div>
									</div>
								</li>
								<li class="scale-box fl ma">
									<div class="box">
										<div class="box-img ta-center visible">
											<a href=""><img src="/bookstore/public/front/images/q6.jpg"></a>
										</div>
										<div class="box-text ta-center">
											<a href="" class="lh-18 cl-6 fz-14 oh">中华上下五千年(4册)</a>
											<div class="ta-center">
												<span class="cl-e4 fz-16">￥32.50</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥92</del>
											</div>
										</div>
									</div>
								</li>
								<li class="scale-box fl ma">
									<div class="box">
										<div class="box-img ta-center visible">
											<a href=""><img src="/bookstore/public/front/images/q7.jpg"></a>
										</div>
										<div class="box-text">
											<a href="" class="lh-18 cl-6 fz-14 oh">长藤国际大奖小说书系(共6册)</a>
											<div class="ta-center">
												<span class="cl-e4 fz-16">￥65.90</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥115.60</del>
											</div>
										</div>
									</div>
								</li>
								<li class="scale-box fl ma">
									<div class="box">
										<div class="box-img visible">
											<a href=""><img src="/bookstore/public/front/images/q8.jpg"></a>
										</div>
										<div class="box-text ta-center">
											<a href="" class="lh-18 cl-6 fz-14 oh">淘气包马小跳系列（典藏版共24册）</a>
											<div class="ta-center">
												<span class="cl-e4 fz-16">￥169.00</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥386.00</del>
											</div>
										</div>
									</div>
								</li>
								<li class="scale-box fl ma">
									<div class="box">
										<div class="box-img visible">
											<a href=""><img src="/bookstore/public/front/images/q9.jpg"></a>
										</div>
										<div class="box-text ta-center">
											<a href="" class="lh-18 cl-6 fz-14 oh">曹文轩经典长篇小说礼盒（共7册）</a>
											<div class="">
												<span class="cl-e4 fz-16">￥73.50</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥150.00</del>
											</div>
										</div>
									</div>
								</li>
								<li class="scale-box fl ma">
									<div class="box">
										<div class="box-img visible">
											<a href=""><img src="/bookstore/public/front/images/q10.jpg"></a>
										</div>
										<div class="box-text ta-center">
											<a href="" class="lh-18 cl-6 fz-14 oh">福尔摩斯探索集（共10册）</a>
											<div class="">
												<span class="cl-e4 fz-16">￥76.80</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥158.00</del>
											</div>
										</div>
									</div>
								</li>
								<p class="clear"></p>
							</ul>
						</div>
					</div>
				</div>

				<div class="my_module ">
					<div class="mb-20">
						<ul class="wd-1200">
							<li class="wd-33p fl">
								<a target="_blank" class="db mg-3" href="/detail.php?id=100760686">
									<img width="394" src="/bookstore/public/front/images/q11.jpg" alt="" class="db hidden">
								</a>
							</li>
							<li class="wd-33p fl">
								<a target="_blank" class="db mg-3" href="/detail.php?id=100880767">
									<img width="394" src="/bookstore/public/front/images/q12.jpg"  alt="" class="db hidden">
								</a>
							</li>
							<li class="wd-33p fl">
								<a target="_blank" class="db mg-3" href="/detail.php?id=100234417">
									<img width="394" src="/bookstore/public/front/images/q13.jpg"  alt="" class="db hidden">
								</a>
							</li>
							<div class="cb"></div>
						</ul>
					</div>
				</div>

				<!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
				<div class="my_module" id="516" data-template-id="7" module-id="516" module-type="3">

					<!--猜你喜欢  横向-->
					<div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">
						<div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">少儿童书</div>
						<!-- 商品列表 -->
						<div class="booklist">
							<div class="book-six">
								<ul>
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img visible">
												<a href=""><img src="/bookstore/public/front/images/q14.jpg"></a>
											</div>
											<div class="box-text ta-center">
												<a href="" class="lh-18 cl-6 fz-14 oh">解忧杂货店（精）</a>
												<div class="ta-center">
													<span class="cl-e4 fz-16">￥19.4</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥39.5</del>
												</div>
											</div>
										</div>
									</li>
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img ta-center visible">
												<a href=""><img src="/bookstore/public/front/images/q15.jpg"></a>
											</div>
											<div class="box-text ta-center">
												<a href="" class="lh-18 cl-6 fz-14 oh">活着 余华作品</a>
												<div class="ta-center">
													<span class="cl-e4 fz-16">￥9.8</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥20</del>
												</div>
											</div>
										</div>
									</li>
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img ta-center visible">
												<a href=""><img src="/bookstore/public/front/images/q16.jpg"></a>
											</div>
											<div class="box-text">
												<a href="" class="lh-18 cl-6 fz-14 oh">白鹿原（精）</a>
												<div class="ta-center">
													<span class="cl-e4 fz-16">￥30.30</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥39.00</del>
												</div>
											</div>
										</div>
									</li>
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img visible">
												<a href=""><img src="/bookstore/public/front/images/q17.jpg"></a>
											</div>
											<div class="box-text ta-center">
												<a href="" class="lh-18 cl-6 fz-14 oh">百年孤独（精）</a>
												<div class="ta-center">
													<span class="cl-e4 fz-16">￥34.76</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥39.5</del>
												</div>
											</div>
										</div>
									</li>
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img visible">
												<a href=""><img src="/bookstore/public/front/images/q18.jpg"></a>
											</div>
											<div class="box-text ta-center">
												<a href="" class="lh-18 cl-6 fz-14 oh">围城（精）</a>
												<div class="">
													<span class="cl-e4 fz-16">￥29.64</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥39.00</del>
												</div>
											</div>
										</div>
									</li>
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img visible">
												<a href=""><img src="/bookstore/public/front/images/q19.jpg"></a>
											</div>
											<div class="box-text ta-center">
												<a href="" class="lh-18 cl-6 fz-14 oh">霍乱时期的爱情（精）</a>
												<div class="">
													<span class="cl-e4 fz-16">￥24.3</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥49.5</del>
												</div>
											</div>
										</div>
									</li>
									<p class="clear"></p>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<!-- end -->
</body>
</html>