<!DOCTYPE html>
<html>
<head>
	<title>品质好书</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->

	<!-- 频道页 -   页面内容 -->
	<div class="section bc-f5" style="padding-bottom: 5px;">
		<div class="wd-1200 ma">
			<!-- 广告图集 之 一张通栏banner图片 module_type=1 template_id=55 - 1920 * 600 -->
			<div class="my_module" id="456" data-template-id="55" module-id="456" module-type="1">
				<div>
					<img src="/bookstore/public/front/images/q1.jpg" width="100%">
				</div>
			</div>

			<!-- 广告图集 之 三张均分广告图 module_type=1 template_id=38-->
			<div class="my_module ">
				<div class="mb-20">
					<ul class="wd-1200">
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100760686">
								<img width="394" src="/bookstore/public/front/images/q2.jpg" alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100880767">
								<img width="394" src="/bookstore/public/front/images/q3.jpg"  alt="" class="db hidden">
							</a>
						</li>
						<li class="wd-33p fl">
							<a target="_blank" class="db mg-3" href="/detail.php?id=100234417">
								<img width="394" src="/bookstore/public/front/images/q4.jpg"  alt="" class="db hidden">
							</a>
						</li>
						<div class="cb"></div>
					</ul>
				</div>
			</div>

			<!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
			<div class="my_module" id="516" data-template-id="7" module-id="516" module-type="3">
				<!--猜你喜欢  横向-->
				<div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">
					<div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">少儿童书</div>
					<!-- 商品列表 -->
					<div class="booklist">
						<div class="book-six">
							<ul>
								{volist name="childlist" id="vo"}
								<li class="scale-box fl ma">
									<div class="box">
										<span class="box-img visible" style="display: block;">
											<a href="{:Url('Goods/index')}?bookId={$vo.bookId}"><img src="{$vo.press}"></a>
										</span>
										<div class="box-text ta-center">
											<a href="{:Url('Goods/index')}?bookId={$vo.bookId}" class="lh-18 cl-6 fz-14 oh">{$vo.title}</a>
											<div class="ta-center">
												<span class="cl-e4 fz-16">￥{$vo.price}.00</span>
												<span class="cl-9">|</span>
												<del class="fz-12 cl-9">￥90</del>
											</div>
										</div>
									</div>
								</li>
								{/volist}								
								<p class="clear"></p>
							</ul>
						</div>
					</div>
				</div>

				<div class="my_module ">
					<div class="mb-20">
						<ul class="wd-1200">
							<li class="wd-33p fl">
								<a target="_blank" class="db mg-3" href="/detail.php?id=100760686">
									<img width="394" src="/bookstore/public/front/images/q11.jpg" alt="" class="db hidden">
								</a>
							</li>
							<li class="wd-33p fl">
								<a target="_blank" class="db mg-3" href="/detail.php?id=100880767">
									<img width="394" src="/bookstore/public/front/images/q12.jpg"  alt="" class="db hidden">
								</a>
							</li>
							<li class="wd-33p fl">
								<a target="_blank" class="db mg-3" href="/detail.php?id=100234417">
									<img width="394" src="/bookstore/public/front/images/q13.jpg"  alt="" class="db hidden">
								</a>
							</li>
							<div class="cb"></div>
						</ul>
					</div>
				</div>

				<!--一组或者多个商品，带标题 module_type=3 template_id=7 -->
				<div class="my_module" id="516" data-template-id="7" module-id="516" module-type="3">

					<!--猜你喜欢  横向-->
					<div class="mb-20 mt-20 bc-f3 border-patch box-shadow scale-box">
						<div class="lh-40 bc-f3 pd-0020 fs-18 fw-bd">文学小说</div>
						<!-- 商品列表 -->
						<div class="booklist">
							<div class="book-six">
								<ul>
									{volist name="literlist" id="vo"}
									<li class="scale-box fl ma">
										<div class="box">
											<div class="box-img visible" style="display: block;">
												<a href="{:Url('Goods/index')}?bookId={$vo.bookId}"><img src="{$vo.press}"></a>
											</div>
											<div class="box-text ta-center">
												<a href="{:Url('Goods/index')}?bookId={$vo.bookId}" class="lh-18 cl-6 fz-14 oh">{$vo.title}</a>
												<div class="ta-center">
													<span class="cl-e4 fz-16">￥{$vo.price}.00</span>
													<span class="cl-9">|</span>
													<del class="fz-12 cl-9">￥39.5</del>
												</div>
											</div>
										</div>
									</li>
									{/volist}									
									<p class="clear"></p>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<!-- end -->
</body>
</html>