<!DOCTYPE html>
<html>
<head>
	<title>小幌疏图书</title>
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->

	<!-- 轮播图片版块 -->
	<section class="mid-box bc-f5" style="padding-bottom: 5px;">
		<!-- 左侧目录栏 -->
		<div class="lmenu fl">
			<a href="{:Url('Booklist/index')}?categoryId=10" class="cl-f">
				<div class="title literature" name="literature">					
					<i class="fas fa-feather-alt"></i>					
					<span class="fz-14">文学艺术</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=1" class="cl-f">
				<div class="title child" name="child">
					<i class="fas fa-fish"></i>					
					<span class="fz-14">少儿童书</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=2" class="cl-f">
				<div class="title society" name="society">
					<i class="fas fa-globe-asia"></i>
					<span class="fz-14">人文社科</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=3" class="cl-f">
				<div class="title manage" name="manage">
					<i class="fas fa-suitcase-rolling"></i>
					<span class="fz-14">经管励志</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=4" class="cl-f">
				<div class="title fasion" name="fasion">
					<i class="fas fa-gift"></i>
					<span class="fz-14">生活时尚</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=0" class="cl-f">
				<div class="title technology" name="technology">
					<i class="fas fa-broom"></i>
					<span class="fz-14">科技教育</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=5" class="cl-f">
				<div class="title stationery" name="stationery">
					<i class="fas fa-pencil-ruler"></i>
					<span class="fz-14">创意文具</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=7" class="cl-f">
				<div class="title art" name="art">
					<i class="fas fa-chess"></i>
					<span class="fz-14">生活美学</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=8" class="cl-f">
				<div class="title daily" name="daily">
					<i class="fas fa-couch"></i>
					<span class="fz-14">居家日用</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
			<a href="{:Url('Booklist/index')}?categoryId=9" class="cl-f">
				<div class="title video" name="video">
					<i class="fas fa-compact-disc"></i>
					<span class="fz-14">影音原版</span>
					<div class="patch fr ta-center">
						<i class="fas fa-angle-right" style="margin: 0px;"></i>					
					</div>
				</div>
			</a>
		</div>
		<!-- 轮播图片 -->
		<div class="hei-400 flex">
			<div class="banner" style="">
				<ul class="banner-pic" id="banner" style="position: relative;">
					<li><a href=""><img src="/bookstore/public/front/images/xhs1.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs2.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs3.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs4.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs5.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs6.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs1.jpg"></a></li>
					<li><a href=""><img src="/bookstore/public/front/images/xhs1.jpg"></a></li>
				</ul>
			</div>
			<div class="banner-click">
				<a><p></p></a>
				<a><p></p></a>
				<a><p></p></a>
				<a><p></p></a>
				<a><p></p></a>
				<a><p></p></a>
			</div>
			<div class="banner-lrclick">
				<a class="prev">					
					<i class="fas fa-angle-left"></i>					
				</a>
				<a class="next">					
					<i class="fas fa-angle-right"></i>					
				</a>				
			</div>
		</div>
		<!-- 正品保证栏 -->
		<div class="true-box">
			<div class="wid-1200 ma true">
				<label>
					<i class="fas fa-check-circle cl-e4 fz-14"></i>
					<span class="fz-14">正品保证</span>
				</label>
				<label>
					<i class="fas fa-check-circle cl-e4 fz-14"></i>
					<span class="fz-14">七天无理由退货</span>
				</label>
				<label>
					<i class="fas fa-check-circle cl-e4 fz-14"></i>
					<span class="fz-14">全场满59包邮</span>
				</label>
			</div>
		</div>
		<!-- 限时抢购栏 -->
		<div class="wid-1200 ma mb-20">
			<div class="flash-sale">
				<div class="content">
					<p class="fl ml-20">
						<i class="fas fa-stopwatch cl-ea fz-21"></i>
						<span class="fz-21 cl-ea fw-bold">限时抢购</span>
					</p>
					<a href="#" class="fl ml-20"> 
						<span class="cl-ea fz-14">总有你想不到的低价</span>
						<i class="fas fa-chevron-circle-right cl-e4 fz-14"></i>						
					</a>					
				</div>
			</div>
			<div class="booklist">
				<div class="book-six">
					<ul>
						{volist name="list" id="vo"}
						<li class="scale-box fl ma">
							<div class="box">
								<div class="box-img visible" style="display:block;">
									<a href="{:Url('Goods/index')}?bookId={$vo.bookId}">
										<p class="ta-center"><img src="{$vo.press}"></p>
									</a>
								</div>
								<div class="box-text ta-center">
									<a href="{:Url('Goods/index')}?bookId={$vo.bookId}" class="lh-18 cl-6 fz-14 oh">{$vo.title}</a>
									<div class="ta-center">
										<span class="cl-e4 fz-16">￥{$vo.price}.00</span>
										<span class="cl-9">|</span>
										<del class="fz-12 cl-9">￥150.00</del>
									</div>
								</div>
							</div>
						</li>
						{/volist}						
						<p class="clear"></p>
					</ul>
				</div>
				<div class="book-click"></div>
			</div>
		</div>
		<!-- 重磅推出 图文版块 -->
		<div class="anchor-box wid-1200 ma">
			<ul class="mb-20">
				<li class="wid-390 fl">
					<div class="title-box bc-63">
						<p class="card-head">
							<label class="fz-18 cl-f mr-10 fl">
								<i class="fas fa-dice-d6 cl-f fz-18 fl mr-5" style="line-height: 45px"></i>
								重磅推出
							</label>
							<a href="" class="fl">
								<span class="cl-f fz-14">精选幌疏</span>
								<i class="fas fa-chevron-circle-right cl-f fz-14 ml-5"></i>
							</a>
						</p>
					</div>
					<ul class="title-ul oh bc-f">
						<li class="wid-50p hei-183 fl oh">
							<div class="oh visible dp-block">
								<a href="{:Url('Quality/index')}"><img src="/bookstore/public/front/images/listbox1-1.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-183 fl oh">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox1-2.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl oh">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox1-3.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox1-4.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox1-5.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox1-6.jpg" style="height: 85px;"></a>
							</div>
						</li>
					</ul>
				</li>
				<li class="wid-390 fl ml-15 mr-15">
					<div class="title-box bc-63">
						<p class="card-head">
							<label class="fz-18 cl-f mr-10 fl">
								<i class="fas fa-dolly cl-f fz-18 fl mr-5" style="line-height: 45px"></i>
								新品速递
							</label>
							<a href="" class="fl">
								<span class="cl-f fz-14">发现品质生活</span>
								<i class="fas fa-chevron-circle-right cl-f fz-14 ml-5"></i>
							</a>
						</p>
					</div>
					<ul class="title-ul oh bc-f">
						<li class="wid-50p hei-183 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox2-1.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-183 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox2-2.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox2-3.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox2-4.jpg"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox2-5.jpg" style="height: 85px;"></a>
							</div>
						</li>
						<li class="wid-50p hei-93 fl">
							<div class="oh visible dp-block">
								<a href=""><img src="/bookstore/public/front/images/listbox2-6.jpg" style="height: 85px;"></a>
							</div>
						</li>
					</ul>
				</li>
				<li class="wid-390 fl">
					<div class="title-box bc-63">
						<p class="card-head">
							<label class="fz-18 cl-f mr-10 fl">
								<i class="fas fa-chess-queen cl-f fz-18 fl mr-5" style="line-height: 45px"></i>
								热销排行
							</label>
							<a href="" class="fl">
								<span class="cl-f fz-14">网络全民挚爱</span>
								<i class="fas fa-chevron-circle-right cl-f fz-14 ml-5"></i>
							</a>
						</p>
					</div>
					<ul class="title-rank oh bc-f">
						<li class="wid-25p" style="border-bottom: 2px solid #3ab5e6"><a href="" >图书</a></li>
						<li class="wid-25p"><a href="">童书</a></li>
						<li class="wid-25p"><a href="">文学</a></li>
						<li class="wid-25p"><a href="">教辅</a></li>
					</ul>
					<ul class="rank-box oh bc-f">
						<li class="lh-40 rank bb-1-e8 pd-1005">
							<a href="" class="dp-block">
								<div class="fl wid-30 ta-left">
									<img src="/bookstore/public/front/images/rank1.svg" style="width: 20px;margin-top: 4px;">
								</div>
								<p class="mr-10 wid-100 hei-100 fl box-img">
									<label style="padding: 5px">
										<img src="/bookstore/public/front/images/rank1.jpg" height="100">
									</label>
								</p>
								<div class="fz-14 cl-3 fl">我们仨</div>
								<div class="fz-14 cl-3 fr">销量:52306</div>
							</a>
							<p class="cb"></p>
						</li>
						<li class="lh-40 rank bb-1-e8 pd-1005">
							<a href="" class="dp-block">
								<div class="fl wid-30 ta-left">
									<img src="/bookstore/public/front/images/rank2.svg" style="width: 20px;margin-top: 4px;">
								</div>
								<p class="mr-10 wid-100 hei-100 fl box-img">
									<label style="padding: 5px">
										<img src="/bookstore/public/front/images/q15.jpg" height="100">
									</label>
								</p>
								<div class="fz-14 cl-3 fl">活着</div>
								<div class="fz-14 cl-3 fr">销量:49023</div>
							</a>
							<p class="cb"></p>
						</li>
						<li class="lh-40 rank bb-1-e8 pd-1005">
							<a href="" class="dp-block">
								<div class="fl wid-30 ta-left">
									<img src="/bookstore/public/front/images/rank3.svg" style="width: 20px;margin-top: 4px;">
								</div>
								<p class="mr-10 wid-100 hei-100 fl box-img">
									<label style="padding: 5px">
										<img src="/bookstore/public/front/images/rank3.jpg" height="100">
									</label>
								</p>
								<div class="fz-14 cl-3 fl">偷影子的人</div>
								<div class="fz-14 cl-3 fr">销量:42657</div>
							</a>
							<p class="cb"></p>
						</li>
						<li class="lh-40 rank bb-1-e8 pd-1005">
							<a href="" class="dp-block">
								<div class="fl wid-30 ta-left">
									4.
								</div>
								<p class="mr-10 wid-100 hei-100 fl box-img">
									<label style="padding: 5px">
										<img src="/bookstore/public/front/images/rank4.jpg" height="100">
									</label>
								</p>
								<div class="fz-14 cl-3 fl">三体（1-3）共3册</div>
								<div class="fz-14 cl-3 fr">销量:36521</div>
							</a>
							<p class="cb"></p>
						</li>
						<li class="lh-40 rank bb-1-e8 pd-1005">
							<a href="" class="dp-block">
								<div class="fl wid-30 ta-left">
									5.
								</div>
								<p class="mr-10 wid-100 hei-100 fl box-img">
									<label style="padding: 5px">
										<img src="/bookstore/public/front/images/rank5.jpg" height="100">
									</label>
								</p>
								<div class="fz-14 cl-3 fl">狼王梦</div>
								<div class="fz-14 cl-3 fr">销量:30254</div>
							</a>
							<p class="cb"></p>
						</li>
					</ul>
				</li>
				<p class="clear"></p>
			</ul>
		</div>
		<!-- 重磅推出下面的图 -->
		<div class="wid-1200 ma">
			<div class="mb-20">
				<ul>
					<li class="fl wid-33p">
						<a href="" class="m-3 dp-inbl">
							<img src="/bookstore/public/front/images/module1.jpg" style="width: 400px">
						</a>
					</li>
					<li class="fl wid-33p">
						<a href="" class="m-3 dp-inbl">
							<img src="/bookstore/public/front/images/module2.jpg" style="width: 400px">
						</a>
					</li>
					<li class="fl wid-33p">
						<a href="" class="m-3 dp-inbl">
							<img src="/bookstore/public/front/images/module3.jpg" style="width: 400px">
						</a>
					</li>
					<p class="clear"></p>
				</ul>
			</div>
		</div>		
		<p class="clear"></p>		
	</section>
	<
	<!-- 右侧导航条 -->
	<section class="rightmenu-box">
		<div class="rightmenu">
			<a href="" style="border-top: 1px solid #8f8f8f;">
				<i class="fas fa-headphones-alt cl-3a"></i>
				<p class="cl-3a fz-12">联<br>系<br>客<br>服</p>
			</a>
			<a href="{:Url('Cart/index')}" class="hover">
				<i class="fas fa-shopping-cart cl-9"></i>
				<p class="cl-9 fz-12">购<br>物<br>车</p>
			</a>
			<a href="" class="hover">
				<i class="far fa-calendar-check cl-9"></i>
				<p class="cl-9 fz-12">签<br>到</p>
			</a>
		</div>
		<div class="action-totop cl-f">
			<i class="fas fa-caret-up fz-18 cl-f"></i>
			<p>TOP</p>
		</div>
	</section>

	<!-- 左侧导航条 -->
	<section class="leftfixmenu-box">
		<ul>
			<li class="lmenu-btn1">限时抢购</li>
			<li class="lmenu-btn2">重磅推出</li>						
		</ul>
	</section>

	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<!-- end -->

	<script src="/bookstore/public/front/AmazeUI/assets/js/jquery.min.js"></script>
	<script src="/bookstore/public/front/AmazeUI/assets/js/amazeui.min.js"></script>
	<script src="/bookstore/public/front/AmazeUI/assets/js/carousel.js"></script>
	<script type="text/javascript">
	//图片轮播
	var mLeft = 0;
	var timer = null;
	var tmp = 1;
	function bannerMove(){
		mLeft += 1920 * tmp;
		$('#banner').animate({
			'margin-left' : '-' + mLeft + 'px'
		},1000);

		if(mLeft >= 11520){
			$('#banner').animate({
				'margin-left' : '0px'
			},0);
			mLeft = 0;
		}
	}

	timer = setInterval(function(){
		bannerMove();
	},9000);

	$('.banner-lrclick a').click(function(){
		clearInterval(timer);
		var tab = $(this).attr('class');
		if( tab == "next" ){
			//向左移动
			bannerMove();
		}
		else{
			//向右移动
			tmp = -1;
			bannerMove();
		}
	});

	$('.banner-click a p').click(function(){
		// $('.banner-click a p').css('background','#3ab5e6');
		$(this).css({
			'background':'#3ab5e6',
			'border':'2px solid #3ab5e6'
		});
	});

	//滚动交互
	$(window).on('scroll',function(){
		var _scroll = $(window).scrollTop();
		if( _scroll >= 150 ){
			$('#search-container').addClass('active');
		}else{
			$('#search-container').removeClass('active');
		}
	});

	//左侧导航条显示
	$(window).on('scroll',function(){
		var _scroll = $(window).scrollTop();		
		if( _scroll >= 410){
			$('.leftfixmenu-box').css('display','block');
		}else{
			$('.leftfixmenu-box').css('display','none');
		}
	});

	//点击限时抢购返回相应栏目
	$(function(){
		$('.lmenu-btn1').click(function(){
			$("html,body").animate({scrollTop:420},500);
		})
	})

	//点击限时抢购返回相应栏目
	$(function(){
		$('.lmenu-btn2').click(function(){
			$("html,body").animate({scrollTop:754},500);
		})
	})

	//点击top返回顶部
	$(function(){
		$('.action-totop').click(function(){
			$("html,body").animate({scrollTop:0},500);
		})
	})
</script>
</body>
</html>