<!DOCTYPE html>
<html>
<head>
	<title>小幌疏我的信息</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/bookstore/public/xhh-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/bookstore/public/xhh-admin/js/xadmin.js"></script>
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->
	<div class="order-box1">
		<div class="f1">
			<!-- 左侧菜单栏 -->
			{include file="../application/front/view/common/orderlmenu.html"}
			<!-- end -->

			<div class="personal-list-item ml-10 bd-1-e8 fl fz-14">
				{eq name="num" value="0"}
				<div class="address-info mb-20" style="height: 467px;">
					<div class="address-none ta-center">
						<div class="address-none-cont">
							<i class="fas fa-map-marked-alt fz-46 cl-9"></i>
							<p class="fz-20 mt-10">您还没有收货地址</p>
							<div class="pt-6">
								<a class="new-address cl-bl-l" data-count="" title="新建地址" onclick="x_admin_show('新增地址','{:Url('Address/add')}',600,450)" href="javascript:;">+新建地址</a>
							</div>
						</div>									
					</div>
				</div>
				{else/}
				<ul>
					<li class="list-item active" style="display: block;">
						<div class="address-info mb-20">
							<div class="address-info-address">
								<div class="">
									<h3 class="list-item-title fl">已保存收货地址<span class="fs-14 cl-9">
									(地址最多50条，还能保存48条)</span></h3>
									<div class="fr pt-6"><a class="new-address cl-bl-l" data-count="" title="新建地址" onclick="x_admin_show('新增地址','{:Url('Address/add')}',500,450)" href="javascript:;">+新建地址</a></div>
									<div class="cb"></div>
								</div>
								<table class="address-info-table bd-1-e8" border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr class="info-title ta-ct">
											<td class="item bb-1-e8" width="3%">ID</td>
											<td class="item bb-1-e8" width="10%">收货人</td>
											<td class="item bb-1-e8" width="28%">收货地址</td>
											<td class="item bb-1-e8" width="10%">联系电话</td>
											<td class="item bb-1-e8" width="10%">邮政编码</td>
											<td class="item bb-1-e8" width="10%">&nbsp;</td>
											<td class="item bb-1-e8" width="10%">操作</td>
										</tr>
										{volist name="list" id="vo"}
										<tr class="info-text ta-ct">										
											<td class="item">{$vo.addressId}</td>
											<td class="item">{$vo.name}</td>
											<td class="item">{$vo.address}</td>
											<td class="item">{$vo.phone}</td>
											<td class="item">{$vo.zipCode}</td>
											<td class="item">
												<a class="btn-address active" href="javascript:void(0);" data-id="838439" title="默认地址" >默认地址</a>
											</td>
											<td class="item">
												<a class="edit-address cl-bl-l" data-id="838439" title="编辑" onclick="x_admin_show('编辑地址','{:Url('Address/edit')}?addressId={$vo.addressId}',600,450)" href="javascript:;">编辑</a>
												&nbsp;&nbsp;
												<a class="del-address cl-bl-l" onclick="del(this, {$vo.addressId})"  href="javascript:;" data-id="838439" title="删除">删除</a>
											</td>											
										</tr>
										{/volist}
									</tbody>
								</table>
							</div>
						</div>
					</li>
				</ul>
				{/eq}
				<div class="cb"></div>
			</div>
			<div class="mt-10">
				<div class="page-number-group tcdPageCode fr">

				</div>
				<div class="cb"></div>
			</div>
		</div>
	</div>
	<!-- 尾部 -->
	{include file="../application/front/view/common/footer.html"}
	<script>
		/*地址-删除*/
      function del(obj,id) {
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.post(
                  "{:Url('Address/del')}",
                  {addressId:id},
                  function(){
                     $(obj).parents("tr").remove();
                      layer.msg('已删除!', {icon:1, time:1000});
                  }
              );
          });
      }
	</script>
	<!-- end -->

</body>
</html>