<!DOCTYPE html>
<html>
<head>
	<title>小幌疏我的信息</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/css.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/public.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/css/xhhindex.css">
	<link rel="stylesheet" type="text/css" href="/bookstore/public/front/fontawesome/css/all.css">
</head>
<body>
	<!-- 顶部 -->
	{include file="../application/front/view/common/header.html"}
	<!-- end -->

	<!-- 头部logo 搜索栏 -->
	{include file="../application/front/view/common/searchbox.html"}
	<!-- end -->
	<div class="order-box1">
		<div class="f1">
			<!-- 左侧菜单栏 -->
			{include file="../application/front/view/common/orderlmenu.html"}
			<!-- end -->


			<div class="personal-list-item ml-10 bd-1-e8 fl">
				<ul>
					<li class="list-item active">
						<div class="set-info mb-20">
							<h3 class="list-item-title bb-1-e8">个人设置</h3>
							<div class="set-info-table bc-f3 mt-10 pd-10 bd-1-e8">
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td class="pr-15" width="15%" height="28" align="right">手机号：</td>
											<td>
												13538646590
											</td>
											<td width="15%" align="right" colspan="2"><a class="edit" href="javascript:void(0);" title="编辑">编辑</a></td>
										</tr>
										<tr>
											<td class="pr-15" height="28" align="right">账号：</td>
											<td id="nick_name">{$Think.session.account}</td>
										</tr>
										<tr>
											<td class="pr-15" height="28" align="right">性别：</td>
											<td id="gender">男</td>
										</tr>
										<tr>
											<td class="pr-15" height="28" align="right">邮箱：</td>
											<td id="occupation">{$Think.session.email}</td>
										</tr>
										<tr>
											<td class="pr-15" height="28" align="right">签名：</td>
											<td id="msg">asda</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 编辑个人设置页 -->
							<form class="set-info-form" action="javascript:void(0);">
								<ul class="mt-20">
									<li>
										<div class="fl mr-20 lh-28 ta-rt wd-80"><label for="user-name-rel">昵称</label></div>
										<div class="fl">
											<input id="nickname" class="wd-158 bd-1-e8 br-4 lh-28" type="text" name="nickname" value="123"></div>
											<div class="cb">
											</div>
										</li>
										<li class="mt-10">
											<div class="fl mr-20 lh-28 ta-rt wd-80"><label>性别</label></div>
											<div class="fl lh-28">
												<label class="user-lable">
													<span style="cursor:pointer" class="icon-checkbox-line2" data-sex="1" ></span>
													<span class="cl-21">&nbsp;男</span>
													<input name="user-six" class="hidden" type="radio" value="男">
												</label>
												<label class="user-lable">
													<span style="cursor:pointer" class="icon-checkbox-line" data-sex="2"></span>
													<span class="cl-21">&nbsp;女</span>
													<input name="user-six" class="hidden" type="radio" value="女">
												</label>
											</div>
											<div class="cb"></div>
										</li>
										<li class="mt-10">
											<div class="fl mr-20 lh-28 ta-rt wd-80"><label>职业</label></div>
											<div class="fl lh-28">
												<input id="profession" class="wd-158 bd-1-e8 br-4 lh-28" type="text" name="profession" value="wqdsa">
											</div>
											<div class="cb"></div>
										</li>
										<li class="mt-10">
											<div class="fl mr-20 lh-28 ta-rt wd-80"><label>签名</label></div>
											<div class="fl lh-28">
												<input id="signature" class="wd-158 bd-1-e8 br-4 lh-28" type="text" name="signature" value="asda">
											</div>
											<div class="cb"></div>
										</li>
										<li class="mt-40">
											<div class="fl mr-20 lh-28 ta-rt wd-80">&nbsp;</div>
											<div class="fl">
												<a class="btn-save lh-28 ta-ct bd-1-e8 wd-78 br-4" href="javascript:void(0);">保存</a>
											</div>
											<div class="cb"></div>
										</li>
									</ul>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		
		</body>
		</html>