<!DOCTYPE html>
<html>
<head>
	<title>小幌疏我的信息</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/xhh/css/css.css">
	<link rel="stylesheet" type="text/css" href="/xhh/fontawesome/css/all.css">
</head>
<body>
	<header class="header">
		<div class="top ma wid-1200">
			<p class="fl pclear cl-6">
				<span>
					<a target="_self">登录</a>
					<span class="line">|</span>
					<a target="_self">免费注册</a>
				</span>
			</p>
			<p class="fr pclear cl-6">
				<span>
					<span class="line">|</span>				
					<a target="_self">收藏夹</a>
					<span class="line">|</span>
					<a target="_self">店铺管理</a>
					<span class="line">|</span>
					<a target="_self">联系客服</a>
				</span>
			</p>
			<div class="fr myhh">
				<label class="cp cl-6">我的幌疏</label>
				<i class="fas fa-angle-down cp cl-9"></i>
				<div class="hhbox">
					<a class="cl-6" target="_blank" href="">我的幌疏</a>
					<a class="cl-6" target="_blank" href="/xhhindex/order/index">我的订单</a>
					<a class="cl-6" target="_blank" href="">我的优惠券</a>
					<a class="cl-6" target="_blank" href="">我的收藏</a>
					<a class="cl-6" target="_blank" href="">我的收入</a>
					<a class="cl-6" target="_blank" href="">官方消息</a>
				</div>
			</div>
		</div>
	</header>
	<div class="order-box1">
		<div class="f1">
			<div class="f1-left">
				<div class="f1-left-title">个人中心</div>
				<ul class="left-box1">
					<li class="item active" ><a href="/xhhindex/Information/index">我的信息</a></li>
					<li class="item"><a href="/xhhindex/order/index">我的订单</a></li>
					<li class="item"><a href="">我的等级</a></li>
					<li class="item"><a href="">我的积分</a></li>
					<li class="item"><a href="">我的收藏</a></li>
				</ul>
				<ul class="left-box1">
					<li class="item" style="border-left: 2px #2db4ea solid;"><a href="/xhhindex/address/index">我的收货地址</a></li>
					<li class="item active"><a href="">个人设置</a></li>
				</ul>
			</div>


			<div class="personal-list-item ml-10 bd-1-e8 fl">
				<ul>
					<li class="list-item active">
						<div class="set-info mb-20">
							<h3 class="list-item-title bb-1-e8">个人设置</h3>
							<div class="set-info-table bc-f3 mt-10 pd-10 bd-1-e8">
								<table width="100%" border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td class="pr-50" width="15%" height="28" align="right">手机号</td>
											<td>
												13538646590
											</td>
											<td width="15%" align="right" colspan="2"><a class="edit" href="javascript:void(0);" title="编辑">编辑</a></td>
										</tr>
										<tr>
											<td class="pr-50" height="28" align="right">昵称</td>
											<td id="nick_name">123</td>
										</tr>
										<tr>
											<td class="pr-50" height="28" align="right">性别</td>
											<td id="gender">男</td>
										</tr>
										<tr>
											<td class="pr-50" height="28" align="right">职业</td>
											<td id="occupation">wqdsa</td>
										</tr>
										<tr>
											<td class="pr-50" height="28" align="right">签名</td>
											<td id="msg">asda</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 编辑个人设置页 -->
							<form class="set-info-form" action="javascript:void(0);">
								<ul class="mt-20">
									<li>
										<div class="fl mr-20 lh-28 ta-rt wd-80"><label for="user-name-rel">昵称</label></div>
										<div class="fl">
											<input id="nickname" class="wd-158 bd-1-e8 br-4 lh-28" type="text" name="nickname" value="123"></div>
											<div class="cb">
											</div>
										</li>
										<li class="mt-10">
											<div class="fl mr-20 lh-28 ta-rt wd-80"><label>性别</label></div>
											<div class="fl lh-28">
												<label class="user-lable">
													<span style="cursor:pointer" class="icon-checkbox-line2" data-sex="1" ></span>
													<span class="cl-21">&nbsp;男</span>
													<input name="user-six" class="hidden" type="radio" value="男">
												</label>
												<label class="user-lable">
													<span style="cursor:pointer" class="icon-checkbox-line" data-sex="2"></span>
													<span class="cl-21">&nbsp;女</span>
													<input name="user-six" class="hidden" type="radio" value="女">
												</label>
											</div>
											<div class="cb"></div>
										</li>
										<li class="mt-10">
											<div class="fl mr-20 lh-28 ta-rt wd-80"><label>职业</label></div>
											<div class="fl lh-28">
												<input id="profession" class="wd-158 bd-1-e8 br-4 lh-28" type="text" name="profession" value="wqdsa">
											</div>
											<div class="cb"></div>
										</li>
										<li class="mt-10">
											<div class="fl mr-20 lh-28 ta-rt wd-80"><label>签名</label></div>
											<div class="fl lh-28">
												<input id="signature" class="wd-158 bd-1-e8 br-4 lh-28" type="text" name="signature" value="asda">
											</div>
											<div class="cb"></div>
										</li>
										<li class="mt-40">
											<div class="fl mr-20 lh-28 ta-rt wd-80">&nbsp;</div>
											<div class="fl">
												<a class="btn-save lh-28 ta-ct bd-1-e8 wd-78 br-4" href="javascript:void(0);">保存</a>
											</div>
											<div class="cb"></div>
										</li>
									</ul>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<footer class="footer">
				<div class="tag">
					<ul class="clearfix">
						<li class="cl-4 lh-25 pd-0500 wd-25p fl">
							<img src="/xhh/images/zheng.png" width="50" height="50" class="fl mr-10 defaultlazy" />
							<div class="fl">
								<p class="fs-24 ">全场正品</p>
								<p>出版社直采·博库正品</p>
							</div>
							<div class="cb"></div>
						</li>
						<li class="cl-4 lh-25 pd-0500 wd-25p fl">
							<img src="/xhh/images/sheng.png" alt="" width="50" height="50" class="fl mr-10 defaultlazy" />
							<div class="fl">
								<p class="fs-24 ">全场满59包邮</p>
								<p>惊喜不断·让利多多</p>
							</div>
							<div class="cb"></div>
						</li>
						<li class="cl-4 lh-25 pd-0500 wd-25p fl">
							<img src="/xhh/images/huo.png" alt="" width="50" height="50" class="fl mr-10 defaultlazy" />
							<div class="fl">
								<p class="fs-24 ">门店自取</p>
								<p>就近取货·方式灵活</p>
							</div>
							<div class="cb"></div>
						</li>
						<li class="cl-4 lh-25 pd-0500 wd-25p fl">
							<img src="/xhh/images/you.png" alt="" width="50" height="50" class="fl mr-10 defaultlazy" />
							<div class="fl">
								<p class="fs-24 ">售后无忧</p>
								<p>服务体验·更加精彩</p>
							</div>
							<div class="cb"></div>
						</li>
					</ul>
				</div>
				<div class="copyright">
					<div class="box1" style="width: 100%;">
						<div class="box2">
							<p>©2018 版权所有</p>
						</div>
					</div>
				</div>
			</footer>
		</body>
		</html>